---
layout: default
---

{% import "./partials/navbar.html" as navBar with context %}

<div class="bg-[color:var(--dark-blue)]">
  {{ navBar.nav() }}
</div>

<div class="container container--large">
	
  <div class="pb-5 mb-5 border-b border-gray-100 flex flex-col md:flex-row md:justify-between">
    <h1 class="font-bold text-5xl text-left inline-block mb-5 md:mb-0 dark-copy">{{ title }}</h1>
  </div>

  <article class="my-4 flex flex-col md:block dark-copy">

    {{ content | safe }}

  </article>
	
</div>
