---
layout: default
seoSchemaPageType: Article
eleventyComputed:
  canonical: "{{ env.site }}/{{ title | slugify }}/"
---

{% import "./partials/navbar.html" as navBar with context %}
{% import "./components/faqs.html" as faqs with context %}

<div class="border-b border-solid border-b-[color:var(--very-light-gray)]">
  {{ navBar.nav(bgColour='bg-white') }}
</div>

<section class="container">

  <article class="my-6 flex flex-col md:block prose max-w-5xl mx-auto">

    <h1 class="dark-copy">{{ title }}</h1>

    {% if showDate and date %}
      <time class="text-[color:var(--dark-gray)] text-sm italic block">{{ date | readableDate }}</time>
    {% endif %}

    {{ content | safe }}

    {% if 'faq' in tags %}
          
      {{ faqs.faqs() }}

    {% endif %}

  </article>
	
</section>
