---
layout: default
seoSchemaPageType: Article
eleventyComputed:
  canonical: "{{ env.site }}/{{ title | slugify }}/"
---

{% import "./partials/navbar.html" as navBar with context %}
{% import "./components/faqs.html" as faqs with context %}

{{ navBar.nav(bgColour='bg-white') }}

<section class="container">

  <article class="my-6 flex flex-col md:block prose max-w-5xl mx-auto">

    <h1 class="dark-copy">{{ title }}</h1>

    {{ content | safe }}

    {% if 'faq' in tags %}
          
      {{ faqs.faqs() }}

    {% endif %}

  </article>
	
</section>
