---
layout: default
---

{% import "./partials/navbar.html" as navBar with context %}
{% import "./components/faqs.html" as faqs with context %}
{% import "./components/buttons/more-button.html" as moreButton with context %}
{% import "./components/hero-small-business.html" as hero with context %}

<section class="min-h-dvh flex flex-col bg-[color:var(--teal)] justify-between border-b-4 border-b-[color:var(--dark-yellow)] border-solid">

  {{ navBar.nav('bg-[color:var(--teal)]') }}
  
  <div class="container content-center">
    {{ hero.smallBusiness(title, title2, title3, h2Tag, bullets[0], bullets[1], bullets[2], bullets[3], bullets[4], bullets[5]) }}
  </div>

  {{ moreButton.button('bg-[color:var(--dark-yellow)]', 'border-[color:var(--dark-yellow)]', 'text-[color:var(--dark-copy)]') }}
</section>

<section class="container" data-test="moreButtonLocation">

  <article class="my-6 flex flex-col md:block dark-copy prose max-w-5xl prose-h2:mt-4">

    {{ content | safe }}

  </article>
	
</section>

<section class="bg-[color:var(--dark-gray)]">

  <div class="container container--large">
    <div class="mb-4">
      <h2 class="inline-block mb-0">What you get.</h2>
    </div>

    {% include "./components/what-you-get.html" %}
    
  </div>
</section>

<section>
  <div class="container container--large dark-copy">
    <h2 class="mb-4">My Pricing Plans.</h2>
    <div class="mb-4">See more <a href="/pricing/" class="anchor-pop ">about pricing</a>.</div>

    <div class="md:flex mt-8 sm:mt-12 lg:mt-16">
      {% include "./components/standard-pricing.html" %}

      {% include "./components/pro-pricing.html" %}
    </div>
  </div>
  
</section>

<section class="bg-[color:var(--dark-gray)]">
  <div class="container container--large">
    <h2 class="mb-4">Frequently Asked Questions.</h2>

    {{ faqs.faqComponent() }}
    
  </div>
</section>

<section>
  <div class="container container--large dark-copy">
    <div class="mb-4">
      <h2 class="inline-block mb-0">How The Managed Website Service Works.</h2>
    </div>

    {% include "./components/how-it-works.html" %}
    
  </div>
</section>
