{% import "./partials/json-ld.html" as jsonLd with context %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include "./partials/favicons.html" %}

    {% if ignore %}
      <meta name="robots" content="noindex"/>
    {% endif %}

    <meta name="google-site-verification" content="ZzkZAG6DDjAS0blNSDChRJivYpUpgq7E7ggi-MKyAzY" />

    <title>{{ seoTitle }}</title>
    
    <meta name="description" content="{{ description }}"/>

    <meta property="og:description" content="{{ description }}">
    <meta property="og:site_name" content="{{ settings.siteName }}">
    <meta property="og:title" content="{{ seoTitle }}">
    <meta property="og:type" content="{{ ogType }}">
    <meta property="og:locale" content="en_GB">
    <meta property="og:url" content="{{ canonical }}">
    <meta property="og:image" content="{{ env.site }}/_includes/static/img/social-share.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ seoTitle }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ env.site }}/_includes/static/img/social-share.jpg">

    <link rel="canonical" href="{{ canonical }}" />

    {{ jsonLd.schema() }}

    {% set css %}
      {% include "static/css/tailwind.css" %}
    {% endset %}
    <style>      
      {{ css | postcss | safe }}
    </style>

    {% if env.isProd %}
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('consent', 'default', {
          'ad_user_data': 'denied',
          'ad_personalization': 'denied',
          'ad_storage': 'denied',
          'analytics_storage': 'denied',
          'wait_for_update': 500,
        });
        gtag('js', new Date());
        gtag('config', 'G-41HKNXWQSH');
      </script>
    {% endif %}

    <link rel="preconnect" href="https://www.googletagmanager.com">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet"
        type="text/css"
      />
    </noscript>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  </head>

  <!-- Prod class needed to inline the JS -->
  <body class="{{ "prod" if env.isProd }} relative bg-bg-primary text-text-primary">  

    {{ content | safe }}

    {% include "./partials/footer.html" %}

    {% if env.isProd %}
      {% include "./partials/cookie-consent.html" %}
    {% endif %}

    {% set cookieConsent %}
      {% include "static/js/cookieConsent/cookieConsent.js" %}
    {% endset %}

    {% set menuToggle %}
      {% include "static/js/menuToggle/menuToggle.js" %}
    {% endset %}

    {% set moreButtonScroll %}
      {% include "static/js/moreButtonScroll/moreButtonScroll.js" %}
    {% endset %}

    {% set callMeAnchorBehaviour %}
      {% include "static/js/callMeAnchorBehaviour/callMeAnchorBehaviour.js" %}
    {% endset %}

    <script type="module">
      {{ cookieConsent | jsmin | safe }}
      {{ menuToggle | jsmin | safe }}
      {{ moreButtonScroll | jsmin | safe }}
      {{ callMeAnchorBehaviour | jsmin | safe }}
    </script>

  </body>
</html>
