<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% if ignore %}
	  <meta name="robots" content="noindex"/>
	{% endif %}

    <title>
      {% if title %}
        {{ title }}
      {% else %}
        {{ settings.title }}
      {% endif %}
    </title>

	<!-- If we're an article page -->
    {% if description %}
      <meta name="description" content="{{ description }}"/>
      <meta name="og:description" property="og:description" content="{{ description }}">
	  <meta name="twitter:description" content="{{ description }}">
    {% else %}
      <meta name="description" content="{{ settings.description }}"/>
      <meta name="og:description" property="og:description" content="{{ settings.description }}">
	  <meta name="twitter:description" content="{{ settings.description }}">
    {% endif %}

	<!-- If we're an article page -->
    {% if title %}
      <meta name="og:title" property="og:title" content="{{ title }}">
	  <meta name="twitter:title" content="{{ title }}">
    {% else %}
      <meta name="og:title" property="og:title" content="{{ settings.title }}">
	  <meta name="twitter:title" content="{{ settings.title }}">
    {% endif %}

	<!-- If we're an article page -->
    {% if type %}
      <meta name="og:type" property="og:type" content="{{ type }}">
    {% else %}
      <meta name="og:type" property="og:type" content="{{ settings.type }}">
    {% endif %}

    <meta name="og:site_name" property="og:site_name" content="{{ settings.title }}">
	<meta name="twitter:site" content="{{ settings.title }}">
    <meta name="og:locale" property="og:locale" content="en_GB">  

    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}

	{% if env.isProd %}
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('consent', 'default', {
			'ad_user_data': 'denied',
			'ad_personalization': 'denied',
			'ad_storage': 'denied',
			'analytics_storage': 'denied',
			'wait_for_update': 500,
			});
			gtag('js', new Date());
			gtag('config', 'G-BFX3P6GF6Z');
		</script>
	{% endif %}
  </head>

  <body class="bg-white">
    {% include "./partials/navbar.html" %}

    {{ content | safe }}

    {% include "./partials/footer.html" %}

    <script src="/static/js/alpine.js"></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

	{% include "./partials/cookie-consent.html" %}

	{% if env.isProd %}
		<script>
			const grantConsentButton = document.getElementById('grant-consent');

			grantConsentButton.addEventListener("click", function() {
				localStorage.setItem("consentGranted", "true");

				function gtag() { dataLayer.push(arguments); }

				gtag('consent', 'update', {
					ad_user_data: 'granted',
					ad_personalization: 'granted',
					ad_storage: 'granted',
					analytics_storage: 'granted'
				});

				var gtagScript = document.createElement('script');
				gtagScript.defer = true;
				gtagScript.src = 'https://www.googletagmanager.com/gtag/js?id=G-BFX3P6GF6Z';

				var firstScript = document.getElementsByTagName('script')[0];
				firstScript.parentNode.insertBefore(gtagScript,firstScript);
			});

			if(localStorage.getItem("consentGranted")) {
				var gtagScript = document.createElement('script');
				gtagScript.defer = true;
				gtagScript.src = 'https://www.googletagmanager.com/gtag/js?id=G-BFX3P6GF6Z';

				var firstScript = document.getElementsByTagName('script')[0];
				firstScript.parentNode.insertBefore(gtagScript,firstScript);
			}
		</script>
	{% endif %}

  </body>
</html>