<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png">

    {% if ignore %}
      <meta name="robots" content="noindex"/>
    {% endif %}

    <meta name="google-site-verification" content="VERIFICATION-ID" />

    <title>
      {% if seoTitle %}
        {{ seoTitle }}
      {% elif title %}
        {{ title }}
      {% else %}
        {{ settings.title }}
      {% endif %}
    </title>

    <!-- If we're an article page -->
    {% if description %}
      <meta name="description" content="{{ description }}"/>
      <meta name="og:description" property="og:description" content="{{ description }}">
      <meta name="twitter:description" content="{{ description }}">
    {% else %}
      <meta name="description" content="{{ settings.description }}"/>
      <meta name="og:description" property="og:description" content="{{ settings.description }}">
      <meta name="twitter:description" content="{{ settings.description }}">
    {% endif %}

    <!-- If we're an article page -->
    {% if title %}
      <meta name="og:title" property="og:title" content="{{ title }}">
      <meta name="twitter:title" content="{{ title }}">
    {% else %}
      <meta name="og:title" property="og:title" content="{{ settings.title }}">
      <meta name="twitter:title" content="{{ settings.title }}">
    {% endif %}

    <!-- If we're an article page -->
    {% if type %}
      <meta name="og:type" property="og:type" content="{{ type }}">
    {% else %}
      <meta name="og:type" property="og:type" content="{{ settings.type }}">
    {% endif %}

    <meta name="og:site_name" property="og:site_name" content="{{ settings.title }}">
    <meta name="twitter:site" content="{{ settings.title }}">
    <meta name="og:locale" property="og:locale" content="en_GB">

    

    {% set css %}
      {% include "static/css/tailwind.css" %}
    {% endset %}
    <style>      
      {{ css | postcss | safe }}
    </style>

    {% if env.isProd %}
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('consent', 'default', {
          'ad_user_data': 'denied',
          'ad_personalization': 'denied',
          'ad_storage': 'denied',
          'analytics_storage': 'denied',
          'wait_for_update': 500,
        });
        gtag('js', new Date());
        gtag('config', 'GTAG_ID');
      </script>
    {% endif %}

    <link rel="preconnect" href="https://www.googletagmanager.com">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>

  <body class="{{ "prod" if env.isProd }}">   

    {{ content | safe }}

    {% include "./partials/footer.html" %}

    {% if env.isProd %}
      {% include "./partials/cookie-consent.html" %}
    {% endif %}

    {% set cookieConsent %}
      {% include "static/js/cookieConsent/cookieConsent.js" %}
    {% endset %}

    {% set menuToggle %}
      {% include "static/js/menuToggle/menuToggle.js" %}
    {% endset %}

    {% set moreButtonScroll %}
      {% include "static/js/moreButtonScroll/moreButtonScroll.js" %}
    {% endset %}

    {% set callMeButtonBehaviour %}
      {% include "static/js/callMeButtonBehaviour/callMeButtonBehaviour.js" %}
    {% endset %}

    <script type="module">
      {{ cookieConsent | jsmin | safe }}
      {{ menuToggle | jsmin | safe }}
      {{ moreButtonScroll | jsmin | safe }}
      {{ callMeButtonBehaviour | jsmin | safe }}
    </script>
  </body>
</html>
