---
layout: default
eleventyComputed:
  canonical: "{{ env.site }}/{{ title | slugify }}/"
---

{% import "./partials/navbar.html" as navBar with context %}
{% import "./components/testimonials.html" as testimonials with context %}
{% import "./components/landing-page-form.html" as landingPageForm with context %}
{% import "./components/banner.html" as banner with context %}

<section>
  {{ banner.bannerMacro() }}
</section>

<div class="border-b border-solid border-b-[color:var(--very-light-gray)]">
  {{ navBar.nav(bgColour='bg-white') }}
</div> 

<section class="container">

  <article class="my-6 flex flex-col md:block prose max-w-5xl mx-auto prose-img:mt-0">

    <h1 class="dark-copy">{{ title }}</h1>

    {{ content | safe }}

    <section class="mt-10">
      {{ landingPageForm.form(title=formImageTitle) }}
    </section>

  </article>

</section>

<section class="bg-[color:var(--white)] border-t border-solid border-t-[color:var(--very-light-gray)]">
    
  {{ testimonials.testimonialComponent() }}

</section>
