---
layout: default
---

<div
	class="w-full bg-cover bg-center py-56"
	style="background-image: url('{{ heroImage }}');">
</div>

<div class="container 2xl:max-w-6xl mt-6 px-6 flex flex-col lg:flex-row">

	<div class="lg:pr-8 article-content">
		<div class="pb-5 mb-5 border-b border-gray-100 flex flex-col md:flex-row md:justify-between">
			<h1 class="font-bold text-5xl text-left inline-block mb-5 md:mb-0">{{ title }}</h1>
		</div>
	
		<article class="prose my-4 max-w-none flex flex-col md:block">
	
			{{ content | safe }}

		</article>
	</div>
</div>
