---
layout: default
seoSchemaPageType: Product
eleventyComputed:
  canonical: "{{ env.site }}/{{ title | slugify }}/"
---

{% import "./partials/navbar.html" as navBar with context %}
{% import "./components/testimonials.html" as testimonials with context %}
{% import "./components/buttons/anchor.html" as anchor with context %}
{% import "./components/you-might-also-like.html" as moreItems with context %}


<div class="border-b border-solid border-b-[color:var(--very-light-gray)]">
  {{ navBar.nav(bgColour='bg-white') }}
</div>

<section class="container">

  <article class="dark-copy">

    <div class="grid lg:grid-cols-2 gap-8">
      <div class="glide multi min-w-0">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            {% for image in images | reverse %}
              
              <li class="glide__slide">
                
                <img
                  src="{{ image.path }}"
                  alt="{{ image.alt }}" 
                  class="w-full h-auto"
                  width="600px"
                  height="600px"
                />
                
              </li>
                  
            {% endfor %}
          </ul>
        </div>

        {% if images | length > 1 %}
          <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--prev absolute top-[calc(50%-20px)] left-0 text-white" data-glide-dir="<">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-10 hover:opacity-70"
                width="40px"
                height="40px">
                <title>Previous Product Image</title>
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 19.5 8.25 12l7.5-7.5"
                />
              </svg>            
            </button>

            <button class="glide__arrow glide__arrow--next absolute top-[calc(50%-20px)] right-0 text-white" data-glide-dir=">">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-10 hover:opacity-70"
                width="40px"
                height="40px">
                <title>Next Product Image</title>
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m8.25 4.5 7.5 7.5-7.5 7.5"
                />
              </svg>
            </button>
          </div>
        {% endif %}
        
      </div>

      <div>
        <h1>{{ title }}</h1>
        <p>&pound;{{ price }}</p>
        <div class="text-sm">
          <p>{{ content | safe }}</p>
        </div>

        {% set destination %}/contact/?product={{ title }}{% endset %}

        <div class="mt-8 flex lg:justify-self-end">
          {{ anchor.anchor(
            destination=destination,
            anchorText='Contact Us',
            type='primary',
            iconType='shopping-bag',
            classes='w-full inline-flex items-center justify-center lg:min-w-[400px] mx-auto'
          ) }}
        </div>
      </div>
    </div>

  </article>
	
</section>

<section class="dark-copy container">
  {{ moreItems.youMightAlsoLike(tag=tags[0], currentProductTitle=title) }}
</section>
