<div class="lg:grid grid-cols-12">  

  <div class="lg:col-span-9 lg:flex lg:self-center lg:flex-col lg:pr-8">
    <p class="mb-3">I'm David White, a Software Engineer from Kingston Upon Thames, London, with over 20 years experience. I created Kabooly as a vehicle to do what I enjoy the most.. to build fast efficient websites that can help businesses thrive.</p>
    <p class="mb-3">As a skilled Web Developer, I bring a unique blend of creativity and technical expertise to every project.</p>
    <p class="mb-3">With a keen eye for design and a deep understanding of modern web technologies, I specialise in crafting visually stunning and highly functional websites that meet the needs of clients.</p>
    <p class="mb-3">My approach is both meticulous and innovative, ensuring that each project not only meets but exceeds expectations.</p>
    <div class="mb-3">
      <h3>Companies I've worked for:</h3>
      <ul class="flex">
        <li>
          <img
            src="/_includes/static/img/telegraph.webp"
            alt="Telegraph logo"
            width="40px"
            height="40px"
            class="rounded-md mr-3 opacity-70"
            loading="lazy"
          />
        </li>
        <li>
          <img
            src="/_includes/static/img/dazn.webp"
            alt="DAZN logo"
            width="40px"
            height="40px"
            class="rounded-md mr-3 opacity-70"
            loading="lazy"
          />
        </li>
        <li>
          <img
            src="/_includes/static/img/tui.webp"
            alt="TUI logo"
            width="40px"
            height="40px"
            class="rounded-md opacity-70"
            loading="lazy"
          />
        </li>
      </ul>
    </div>
    <p>Check out my <a href="https://www.linkedin.com/in/david-white-96a0878a/" class="anchor-highlight" target="_blank" rel="noopener">LinkedIn profile</a> for my past experience.</p>
  </div>

  <div class="lg:col-span-3 flex justify-center mt-8 lg:mt-0">
    <img
      src="/_includes/static/img/profile-picture.webp"
      width="400px"
      height="400px"
      alt="Profile image of David White"
      class="rounded-full h-fit"
      loading="lazy"
    />
  </div> 
</div>