<div class="lg:flex">  
  <div class="lg:basis-1/2 lg:flex lg:self-center lg:pr-8">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae maximus neque. Etiam quis libero dictum, congue mauris nec, sodales lectus. Sed vitae ultricies dolor. Nunc sodales elit eu suscipit accumsan. Sed congue mi ornare lacinia ullamcorper. In hac habitasse platea dictumst. Sed commodo dui id dolor consectetur, mollis bibendum nisl pretium. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse et lorem non ligula ultrices mollis. Donec vel fermentum sapien. Proin id suscipit ante. Morbi eget tempus elit.
    </p>
  </div>
  <div class="lg:basis-1/2 flex justify-center mt-8 lg:mt-0">
    <img
      src="/_includes/static/img/profile-picture.webp"
      width="500px"
      height="500px"
      alt="Profile image of David White"
      class="rounded-full"
    />
  </div> 
</div>