<div class="lg:flex">  
  <div class="lg:flex lg:self-center lg:flex-col lg:pr-8">
    <p class="mb-3">I'm a Software Engineer with over 20 years experience. I created Kabooly as a vehicle to do what I enjoy the most.. to build fast performant websites that can help businesses thrive.</p>
    <p class="mb-3">As a skilled web developer, I bring a unique blend of creativity and technical expertise to every project.</p>
    <p class="mb-3">With a keen eye for design and a deep understanding of modern web technologies, I specialise in crafting visually stunning and highly functional websites that meet the needs of clients.</p>
    <p class="mb-3">My approach is both meticulous and innovative, ensuring that each project not only meets but exceeds expectations.</p>
    <p>Check out my <a href="https://www.linkedin.com/in/david-white-96a0878a/" class="anchor-highlight" target="_blank" rel="noopener">LinkedIn profile</a> for my past experience.</p>
  </div>
  <div class="lg:basis-1/2 flex justify-center mt-8 lg:mt-0">
    <img
      src="/_includes/static/img/profile-picture.webp"
      width="500px"
      height="500px"
      alt="Profile image of David White"
      class="rounded-full"
    />
  </div> 
</div>