---
pagination:
  data: collections
  size: 1
  alias: tag
---

{% set tagList = collections.productTags.tags %}

{% macro listOfCategories() %}

  <div class="container container--medium">
    <h2>Product Categories</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 gap-y-8">
      {% for tag in tagList | reverse %}

        {% set productList = collections[ tag ] %}        

        <a
          href="/products/{{ tag | slugify }}"
          class="text-center text-sm">          
          <img
            src="{{ productList[0].data.images[0].path }}"
            alt="{{ productList[0].data.images[0].alt }}"
            class="w-full h-auto mb-4"
          />

          {{ tag }}
        </a>

      {% endfor %}
    </div>
  </div>  

{% endmacro %}