<div class="grid sm:grid-cols-2 items-start gap-16 p-4 mx-auto">
  <div>
    <h2 class="dark-copy">Let's Talk</h2>
    <p class="dark-copy mt-4">I'm excited to hear about your project! Whether you have a clear vision or need guidance in shaping your ideas, I'm here to help.</p>

    <div class="mt-12">
        <h3 class="dark-copy">Email</h3>
        <ul class="mt-4">
            <li class="flex items-center">
                <div class="bg-[color:var(--very-light-gray)] h-10 w-10 rounded-full flex items-center justify-center shrink-0">
                  <svg
                    width="20px"
                    height="20px"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="stroke-current subtle-text-on-light-background">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
                    />
                  </svg>
                </div>
  
                <a
                  href="mailto:david@kabooly.com"
                  class="ml-2 dark-copy"
                >
                  david@kabooly.com
                </a>
            </li>
        </ul>
    </div>

    <div class="mt-12">
      <h3 class="dark-copy">Socials</h3>

      <ul class="flex mt-4 space-x-4">
        <li class="bg-[color:var(--very-light-gray)] h-10 w-10 rounded-full flex items-center justify-center shrink-0">
          <a
            href="https://www.linkedin.com/in/david-white-96a0878a/"
            target="_blank"
            rel="noopener">
            <svg
              width="20px"
              height="20px"
              xmlns="http://www.w3.org/2000/svg"
              class="fill-current subtle-text-on-light-background"
              viewBox="0 0 448 512">
              <title>LinkedIn</title>
              <path d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z" />
            </svg>
          </a>
        </li>

        <li class="bg-[color:var(--very-light-gray)] h-10 w-10 rounded-full flex items-center justify-center shrink-0">
          <a
            href="https://x.com/webdigga"
            target="_blank"
            rel="noopener">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 512 512"
              width="20px"
              height="20px"
              class="fill-current subtle-text-on-light-background">             
              <path
                d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z">
              </path>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <form class="ml-auto space-y-4">
    <input
      type='text'
      placeholder='Name'
      class="w-full rounded-md py-3 px-4 bg-[color:var(--very-light-gray)] text-[color:var(--dark-copy)] text-sm outline-[color:var(--dark-blue)] focus:bg-transparent"
    />

    <input
      type='email'
      placeholder='Email'
      class="w-full rounded-md py-3 px-4 bg-[color:var(--very-light-gray)] text-[color:var(--dark-copy)] text-sm outline-[color:var(--dark-blue)] focus:bg-transparent"
    />

    <input
      type='text'
      placeholder='Subject'
      class="w-full rounded-md py-3 px-4 bg-[color:var(--very-light-gray)] text-[color:var(--dark-copy)] text-sm outline-[color:var(--dark-blue)] focus:bg-transparent"
    />

    <textarea
      placeholder='Message'
      rows="6"
      class="w-full rounded-md px-4 bg-[color:var(--very-light-gray)] text-[color:var(--dark-copy)] text-sm pt-3 outline-[color:var(--dark-blue)] focus:bg-transparent">
    </textarea>

    <button
      type='button'
      class="dark-copy bg-[color:var(--dark-yellow)] hover:opacity-90 tracking-wide rounded-md text-sm px-4 py-3 w-full !mt-6">
      Send
    </button>
  </form>
</div>