{% macro game(game) %}
  <a
    href="{{ game.data.externalUrl }}"
    class="text-center text-sm relative group grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4 p-4 border border-[color:var(--very-light-gray)] rounded-md hover:shadow-lg transition-all duration-300 ease-in-out"> 

    <!-- TODO - what image width and height should be here? -->
    <img
      src="{{ game.data.brand }}"
      alt="{{ game.data.imageAlt }}"
      class="w-full h-auto mb-4"
      width="600px"
      height="600px"
    />

    <div>{{ game.data.score }}</div>

    <ul>
      {% for highlight in game.data.highlights %}
        <li>{{ highlight.text }}</li>
      {% endfor %}
    </ul>

    <p>{{ game.data.welcomeOffer }}</p>

    <div class="sm:col-span-2 lg:col-span-1">
      {{ button.button(buttonText='Claim Bonus') }}
    </div>

  </a>
{% endmacro %}
