{% set hero = collections.hero %}

<div class="flex flex-col md:flex-row items-center py-8 lg:py-16 -mt-36">
	
  <div x-data="">
    <h1>{{ hero[0].data.title }}</h2>
    <h2>{{ hero[0].data.description }}</h2>
    <a
      href="{{ hero[0].data.buttonOneUrl }}"  
      class="mr-3 mb-3 rounded-md cursor-pointer inline-block bg-[color:var(--accent-color-highlight)] text-[color:var(--background-color)] py-4 px-6 hover:opacity-90"
    >

      <div class="flex">
        {{ hero[0].data.buttonOneText }}

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pl-1 size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
        </svg>
      </div>
      
    </a>

    <a
      href="tel:{{ settings.phoneNumber }}"  
      class="mb-3 rounded-md cursor-pointer inline-block bg-[color:var(--background-color)] text-white py-4 px-6 hover:bg-[color:var(--accent-color-pop)] border border-solid border-white"
    >

      <div class="flex">
        {{ hero[0].data.buttonTwoText }}

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pl-1 size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
        </svg>
      </div>     
      
    </a>
  </div>
  
  <img class="mt-3" src="./_includes/static/img/svgIcons/rocket-background.png" width="300px" height="300px">

</div>