{% set hero = collections.hero %}

<div class="flex flex-col md:flex-row items-center py-8 lg:py-16 md:-mt-36">
	
  <div>
    <h1>{{ hero[0].data.titlePartOne }} <span class="text-[color:var(--foreground-yellow)]">{{ hero[0].data.titlePartTwo }}</span></h2>
    <h2>{{ hero[0].data.description }}</h2>
    <a
      href="{{ hero[0].data.buttonOneUrl }}"  
      class="mr-3 mb-4 rounded-md cursor-pointer inline-block bg-[color:var(--background-yellow)] text-[color:var(--dark-copy)] py-4 px-6 hover:opacity-90"
    >

      <div class="flex items-center">
        {{ hero[0].data.buttonOneText }}

        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pl-1 size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
        </svg>
      </div>
      
    </a>

    <a
      href="tel:{{ settings.phoneNumber }}"  
      class="mb-3 rounded-md cursor-pointer inline-block text-white py-4 px-6 hover:bg-[color:var(--dark-gray)] border border-solid border-white"
    >

      <div class="flex items-center">
        {{ hero[0].data.buttonTwoText }}

        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="currentColor" class="pl-1 size-5">
          <path fill-rule="evenodd" d="M15 3.75a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-1.5 0V5.56l-4.72 4.72a.75.75 0 1 1-1.06-1.06l4.72-4.72h-2.69a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
          <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
        </svg>        
      </div>     
      
    </a>

    {% if hero[0].data.tickList %}
      <ul class="flex flex-col sm:flex-row flex-wrap max-w-screen-md">
        {% for tickListItem in hero[0].data.tickList %}
          <li class="mb-2 flex w-full sm:w-1/2 pr-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="var(--background-yellow)" class="size-6 min-w-6">
              <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
            </svg>
            <span class="ml-1">{{ tickListItem.title }}</span>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  
  <img
    class="mt-5 hidden sm:block sm:max-w-52 md:max-w-80"
    src="/_includes/static/img/rocket-background.png"
    width="300px"
    height="300px"
    alt="Cartoon rocket taking off"
  />

</div>