{% import "./hero-checklist-item.njk" as checkList %}
{% import "./buttons/buy-a-website.njk" as buyButton %}
{% import "./buttons/call-me.njk" as callButton %}

<div class="flex flex-col md:flex-row items-center py-8 lg:py-16 md:-mt-36">
	
  <div>
    <h1>Managed Websites, <span class="text-[color:var(--light-yellow)]">Paid Monthly</span></h2>
    <h2>Whether you're a Local Business, Small Enterprise, Personal Brand, or Startup...</h2>
    
    {{ buyButton.button('Buy a website', '--dark-purple') }}

    {{ callButton.button('Call me', '--dark-purple', '--dark-gray') }}
    
    <ul class="flex flex-col sm:flex-row flex-wrap max-w-screen-md">
      {{ checkList.checkListItem('Free consultation') }}
      {{ checkList.checkListItem('Free consultation') }}
      {{ checkList.checkListItem('Free consultation') }}
      {{ checkList.checkListItem('Free consultation') }}
      {{ checkList.checkListItem('Free consultation') }}
      {{ checkList.checkListItem('Free consultation') }}
    </ul>
   
  </div>
  
  {% include "./rocket.html" %}

</div>