{% import "./checklist-item.html" as checkList with context %}
{% import "./buttons/buy-a-website.html" as buyButton with context %}
{% import "./buttons/call-me.html" as callButton with context %}

<div class="flex flex-col md:flex-row items-center py-8 lg:py-16">
	
  <div>
    <h1>Pricing, <span class="text-[color:var(--light-yellow)]">simplified.</span><span> Affordable Packages</span></h1>
    <h2>Managed Website Solutions with Ongoing Support</h2>
    
    {{ buyButton.button('Buy a website', 'text-[color:var(--dark-copy)]') }}

    {{ callButton.button('Call me', 'bg-[color:var(--dark-copy)]', 'hover:bg-[color:var(--dark-gray)]') }}
   
    <ul class="flex flex-col sm:flex-row flex-wrap max-w-screen-md">
      {{ checkList.checkListItem(title='Value for money', classes='text-white sm:w-1/2 mb-2', textColour='text-white') }}
      {{ checkList.checkListItem(title='Predictable payments', classes='text-white sm:w-1/2 mb-2', textColour='text-white') }}
      {{ checkList.checkListItem(title='Peace of mind', classes='text-white sm:w-1/2 mb-2', textColour='text-white') }}
      {{ checkList.checkListItem(title='Ongoing support', classes='text-white sm:w-1/2 mb-2', textColour='text-white') }}
      {{ checkList.checkListItem(title='No Hidden Fees', classes='text-white sm:w-1/2 mb-2', textColour='text-white') }}
      {{ checkList.checkListItem(title='Satisfaction Guarantee', classes='text-white sm:w-1/2 mb-2', textColour='text-white') }}
    </ul>
   
  </div>
  
  {% include "./rocket.html" %}

</div>