{% import "./checklist-item.html" as checkList with context %}
{% import "./buttons/buy-a-website.html" as buyButton with context %}
{% import "./buttons/call-me.html" as callButton with context %}

<div class="flex flex-col md:flex-row items-center py-8 lg:py-16">
	
  <div>
    <h1>Contact Me to Bring Your <span class="text-[color:var(--light-yellow)]">Vision</span> to Life</h2>
    <h2>Let's Work Together to Create Your Perfect Website</h2>

    {{ buyButton.button('Buy a website', 'text-[color:var(--dark-gray)]') }}

    {{ callButton.button('Call me', 'bg-[color:var(--dark-gray)]', 'hover:bg-[color:var(--dark-purple)]') }}
    
    <ul class="flex flex-col sm:flex-row flex-wrap max-w-screen-md">
      {{ checkList.checkListItem('Rapid response time', 'text-white sm:w-1/2 mb-2', 'text-white') }}
      {{ checkList.checkListItem('Personalised assistance', 'text-white sm:w-1/2 mb-2', 'text-white') }}
      {{ checkList.checkListItem('Friendly, professional support', 'text-white sm:w-1/2 mb-2', 'text-white') }}
      {{ checkList.checkListItem('Comprehensive consultation', 'text-white sm:w-1/2 mb-2', 'text-white') }}
      {{ checkList.checkListItem('Client-focused approach', 'text-white sm:w-1/2 mb-2', 'text-white') }}
      {{ checkList.checkListItem('Flexible communication options', 'text-white sm:w-1/2 mb-2', 'text-white') }}
    </ul>
   
  </div>
  
  {% include "./rocket.html" %}

</div>