{% import "./checklist-item.html" as checkList with context %}
{% import "./buttons/buy-a-website.html" as buyButton with context %}
{% import "./buttons/call-me.html" as callButton with context %}

<div class="flex flex-col md:flex-row items-center py-8 lg:py-16">
	
  <div>
    <h1>Contact Me to Bring Your <span class="text-[color:var(--light-yellow)]">Vision</span> to Life</h1>
    <h2>Let's Work Together to Create Your Perfect Website</h2>

    {{ buyButton.button('Buy a website', 'text-[color:var(--dark-copy)]') }}

    {{ callButton.button('Call me', 'bg-[color:var(--dark-gray)]', 'hover:bg-[color:var(--dark-purple)]') }}
    
    <ul class="flex flex-col sm:flex-row flex-wrap max-w-screen-md">
      {{ checkList.checkListItem(title='Rapid response time', classes='text-white sm:w-1/2 mb-2', textColour='text-white') }}
      {{ checkList.checkListItem(title='Personalised assistance', classes='text-white sm:w-1/2 mb-2', textColour='text-white') }}
      {{ checkList.checkListItem(title='Friendly, professional support', classes='text-white sm:w-1/2 mb-2', textColour='text-white') }}
      {{ checkList.checkListItem(title='Comprehensive consultation', classes='text-white sm:w-1/2 mb-2', textColour='text-white') }}
      {{ checkList.checkListItem(title='Client-focused approach', classes='text-white sm:w-1/2 mb-2', textColour='text-white') }}
      {{ checkList.checkListItem(title='Flexible communication options', classes='text-white sm:w-1/2 mb-2', textColour='text-white') }}
    </ul>
   
  </div>
  
  {% include "./rocket.html" %}

</div>