{% import "./checklist-item.html" as checkList with context %}
{% import "./buttons/buy-a-website.html" as buyButton with context %}
{% import "./buttons/call-me.html" as callButton with context %}

<div class="flex flex-col md:flex-row items-center py-8 lg:py-16">
	
  <div>
    <h1>How It Works: <span class="text-[color:var(--light-yellow)]">Simplifying Your Website Journey</span></h2>
    <h2>From Concept to Launch: A Seamless Process</h2>
    
    {{ buyButton.button('Buy a website', 'text-[color:var(--dark-purple)]') }}

    {{ callButton.button('Call me', 'bg-[color:var(--dark-purple)]', 'hover:bg-[color:var(--dark-gray)]') }}
    
    <ul class="flex flex-col sm:flex-row flex-wrap max-w-screen-md">
      {{ checkList.checkListItem('Free consultation', 'text-white sm:w-1/2 mb-2') }}
      {{ checkList.checkListItem('Custom Website Design', 'text-white sm:w-1/2 mb-2') }}
      {{ checkList.checkListItem('Hosting & Security', 'text-white sm:w-1/2 mb-2') }}
      {{ checkList.checkListItem('Ongoing Maintenance', 'text-white sm:w-1/2 mb-2') }}
      {{ checkList.checkListItem('Content Updates', 'text-white sm:w-1/2 mb-2') }}
      {{ checkList.checkListItem('Monthly Reports & Support', 'text-white sm:w-1/2 mb-2') }}
    </ul>
   
  </div>
  
  {% include "./rocket.html" %}

</div>