{% import "./hero-checklist-item.html" as checkList with context %}
{% import "./buttons/buy-a-website.html" as buyButton with context %}
{% import "./buttons/call-me.html" as callButton with context %}

<div class="flex flex-col md:flex-row items-center py-8 lg:py-16 md:-mt-36">
	
  <div>
    <h1>Pricing, <span class="text-[color:var(--light-yellow)]">simplified</span></h2>
    <h2>Whether you're a Local Business, Small Enterprise, Personal Brand, or Startup...</h2>
    
    {{ buyButton.button('Buy a website', 'text-[color:var(--dark-green)]') }}

    {{ callButton.button('Call me', 'bg-[color:var(--dark-green)]', 'hover:bg-[color:var(--dark-gray)]') }}
   
    <ul class="flex flex-col sm:flex-row flex-wrap max-w-screen-md">
      {{ checkList.checkListItem('Value for money') }}
      {{ checkList.checkListItem('Value for money') }}
      {{ checkList.checkListItem('Value for money') }}
      {{ checkList.checkListItem('Value for money') }}
      {{ checkList.checkListItem('Value for money') }}
      {{ checkList.checkListItem('Value for money') }}
    </ul>
   
  </div>
  
  {% include "./rocket.html" %}

</div>