<ol class="overflow-hidden space-y-8">
  <li class="relative flex-1 after:content-[''] after:w-0.5 after:h-full after:bg-[color:var(--white)] after:inline-block after:absolute after:-bottom-11 after:left-4 lg:after:left-5">
    <div class="flex items-start font-medium w-full">
      <span class="min-w-8 max-w-8 w-8 h-8 aspect-square bg-[color:var(--white)] border-2 border-[color:var(--dark-copy)] rounded-full flex justify-center items-center mr-3 text-sm text-[color:var(--dark-copy)] lg:w-10 lg:max-w-10 lg:min-w-10 lg:h-10">1</span>

      <div>
        <h4 class="mb-2">There are no upfront costs.</h4>

        <p class="text-sm mb-4">After you've decided to buy a Kabooly managed website I will get a contract ready for you to sign.</p>

      </div>
    </a>
  </li>

  <li class="relative flex-1 after:content-[''] after:w-0.5 after:h-full after:bg-[color:var(--white)] after:z-0 after:inline-block after:absolute after:-bottom-11 after:left-4 lg:after:left-5">
    <div class="flex items-start font-medium w-full">
      <span class="min-w-8 max-w-8 w-8 h-8 aspect-square bg-[color:var(--white)] border-[color:var(--dark-copy)] border-2 rounded-full flex justify-center items-center mr-3 text-sm text-[color:var(--dark-copy)] lg:w-10 lg:max-w-10 lg:min-w-10 lg:h-10">2</span>

      <div>
        <h4 class="mb-2">Contract.</h4>

        <p class="text-sm mb-4">When the contract has been signed I will send out the first monthy invoice.</p>

      </div>
    </a>
  </li>

  <li class="relative flex-1 after:content-[''] after:w-0.5 after:h-full after:bg-[color:var(--white)] after:z-0 after:inline-block after:absolute after:-bottom-11 after:left-4 lg:after:left-5">
    <div class="flex items-start font-medium w-full">
      <span class="min-w-8 max-w-8 w-8 h-8 aspect-square bg-[color:var(--white)] border-[color:var(--dark-copy)] border-2 rounded-full flex justify-center items-center mr-3 text-sm text-[color:var(--dark-copy)] lg:w-10 lg:max-w-10 lg:min-w-10 lg:h-10">3</span>

      <div>
        <h4 class="mb-2">Build.</h4>

        <p class="text-sm mb-4">At this time I will also begin to build the website which I expect to take around 2 weeks.</p>

      </div>
    </a>
  </li>

  <li class="relative flex-1 after:content-[''] after:w-0.5 after:h-full after:bg-[color:var(--white)] after:z-0 after:inline-block after:absolute after:-bottom-11 after:left-4 lg:after:left-5">
    <div class="flex items-start font-medium w-full">
      <span class="min-w-8 max-w-8 w-8 h-8 aspect-square bg-[color:var(--white)] border-[color:var(--dark-copy)] border-2 rounded-full flex justify-center items-center mr-3 text-sm text-[color:var(--dark-copy)] lg:w-10 lg:max-w-10 lg:min-w-10 lg:h-10">4</span>

      <div>
        <h4 class="mb-2">Recurring.</h4>

        <p class="text-sm mb-4">I will then send an invoice out each month on the same day of the month when the contract was signed.</p>

      </div>
    </a>
  </li>

  <li class="relative flex-1">
    <div class="flex items-start font-medium w-full">
      <span class="min-w-8 max-w-8 w-8 h-8 aspect-square bg-[color:var(--white)] border-[color:var(--dark-copy)] border-2 rounded-full flex justify-center items-center mr-3 text-sm text-[color:var(--dark-copy)] lg:w-10 lg:max-w-10 lg:min-w-10 lg:h-10">5</span>

      <div>
        <h4 class="mb-2">Notice period.</h4>

        <p class="text-sm mb-4">The contract specifices that 30 days notice period is required to terminate the contract.  If terminating in the first 12 months then the website code remains property of Kabooly.  After 12 months if the contract is terminated, ownership of the intellectual property will be transferred over.</p>

      </div>
    </a>
  </li>
</ol>