{% switch productCard.data.order %}
  {% case 1 %}
    {% set imageName = '../static/img/svgIcons/consultation.svg' %}
  {% case 2 %}
    {% set imageName = '../static/img/svgIcons/design.svg' %}
  {% case 3 %}
    {% set imageName = '../static/img/svgIcons/development.svg' %}
  {% case 4 %}
    {% set imageName = '../static/img/svgIcons/feedback.svg' %}
  {% case 5 %}
    {% set imageName = '../static/img/svgIcons/launch.svg' %}
  {% case 6 %}
    {% set imageName = '../static/img/svgIcons/support.svg' %}
  {% default %}
    {% set imageName = '../static/img/svgIcons/development.svg' %}
{% endswitch %}

<div class="bg-white border border-gray-200 flex md:flex-row rounded-tr-lg">
    
	<a
    href="{{ productCard.data.articleLink }}"
    class="flex items-center justify-start p-5 relative w-full"> 

    {% include imageName %}

    <div class="flex flex-col pl-5">

      <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ productCard.data.title }}</h2>

      <p class="mb-3 font-normal text-gray-700 grow">{{ productCard.data.description }}</p>

    </div>

    <span
      class="absolute right-0 top-0 inline-flex items-center rounded-tr-lg rounded-bl-lg bg-gray-900 text-white px-3 py-2 text-xs font-bold">
      {{ productCard.data.order }}
    </span>
  </a>
</div>
