{% macro seoIntroTextComponent() %} 

  <div class="container text-center border-b border-[color:var(--very-light-gray)]">
    <div class="max-w-7xl mx-auto">
      <h1>Slot Picks: Expert Reviews & Top-Rated Online Slot Games</h1>
      {% if seoIntroText.seoIntroText %}
        {% for section in seoIntroText.seoIntroText %}
          <div class="section">
            <h2>{{ section.heading }}</h2>
            {% for paragraph in section.paragraphs %}
              <p>{{ paragraph }}</p>
            {% endfor %}
          </div>
        {% endfor %}
      {% else %}
        <p>No content available.</p>
      {% endif %}
    </div>
  </div>  

{% endmacro %}
