{% macro servicesFeature(classes) %}
  <section
    id="features"
    class="relative block px-6 py-10 md:py-20 md:px-10 border-t border-b border-neutral-90 bg-white">

    <div class="relative mx-auto max-w-5xl text-center">
      <span class="dark-copy my-3 flex items-center justify-center font-medium uppercase tracking-wider">{{ services.title | safe }}</span>
      <h2 class="block w-full bg-clip-text font-bold text-3xl sm:text-4xl dark-copy">{{ services.subTitle | safe }}</h2>
      <p class="mx-auto my-4 w-full max-w-xl text-center font-medium leading-relaxed tracking-wide dark-copy">
        {{ services.introText | safe }}
      </p>
    </div>

    <div class="relative mx-auto max-w-7xl z-10 grid grid-cols-1 gap-10 pt-14 sm:grid-cols-2 lg:grid-cols-3">
        
      {% if services.serviceItems %}        
  
        {% for item in services.serviceItems %}
          <a href="{{ item.destination | safe }}">
            <div class="rounded-md border border-[color:var(--very-light-gray)] p-8 text-center h-full">
              <div class="button-text mx-auto flex h-12 w-12 items-center justify-center rounded-md border">
                  
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-color-swatch" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M19 3h-4a2 2 0 0 0 -2 2v12a4 4 0 0 0 8 0v-12a2 2 0 0 0 -2 -2"></path>
                    <path d="M13 7.35l-2 -2a2 2 0 0 0 -2.828 0l-2.828 2.828a2 2 0 0 0 0 2.828l9 9"></path>
                    <path d="M7.3 13h-2.3a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h12"></path>
                    <line x1="17" y1="17" x2="17" y2="17.01"></line>
                </svg>
  
              </div>
              <h3 class="mt-6 dark-copy">{{ item.title | safe }}</h3>
              <p class="my-4 mb-0 font-normal leading-relaxed tracking-wide dark-copy">{{ item.introText | safe }}</p>
            </div>
          </a> 
        {% endfor %}

      {% endif %}

    </div>     

  </section>

{% endmacro %}
