{% import "./buttons/button.html" as button with context %}
{% import "./checklist-item.html" as checkListItemMacro with context %}

{% macro site(site) %}
  <a
    href="{{ site.data.externalUrl }}"
    target="_blank"
    rel="noopener"
    class="dark-copy text-sm relative group grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4 p-4 border border-[color:var(--very-light-gray)] rounded-md hover:shadow-lg transition-all duration-300 ease-in-out"> 

    <div class="flex flex-col">      

      <div
        class="flex justify-center mb-4 py-1 rounded-md items-center min-h-[80px] max-h-[80px]"
        style="background-color: {{ site.data.imageColour }}; border: 1px solid {{ site.data.borderColour }};">        
        <img
          src="{{ site.data.brand }}"
          alt="{{ site.data.imageAlt }}"
          class="w-full h-auto max-w-[250px] max-h-[65px]"
          width="250px"
          height="65px"
          loading="lazy"
          decoding="async"
        />
      </div>

      <div class="flex items-center">
        {% set maxIterations = 5 %}
        {% for i in range(maxIterations) %}
          {% if i < site.data.rating %}
            <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
              <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
          {% else %}
            <svg class="w-4 h-4 ms-1 text-gray-300 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
              <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
          {% endif %}
        {% endfor %}
      </div>

    </div>

    {% set scoreText %}
      {% if site.data.score >= 90 %}
        Excellent
      {% elif site.data.score >= 80 %}
        Superb
      {% elif site.data.score < 80 %}
        Good
      {% endif %}
    {% endset %}    

    <div>    
      <span class="bg-blue-100 text-text-[color:var(--primary-colour)] text-sm font-semibold inline-flex items-center py-1.5 px-2 rounded-sm">{{ site.data.score }}</span><span class="ms-2 font-medium text-gray-900">{{ scoreText }}</span>
    </div>

    <ul>
      {% for highlight in site.data.highlights %}
        {{ checkListItemMacro.checkListItem(title=highlight.text, textColour='dark-copy', classes='text-[color:var(--primary-colour)]') }}
      {% endfor %}
    </ul>

    <p class="text-sm mb-0">{{ site.data.welcomeOffer }}</p>

    <div class="sm:col-span-2 lg:col-span-1">
      {{ button.button(buttonText='Claim Bonus', classes='w-full font-bold') }}
    </div>

    <div class="col-span-full border-t pt-4 text-xs text-[color:var(--dark-gray)]">
      {{ site.data.termsAndConditions }}
    </div>

  </a>
{% endmacro %}
