{% macro testimonialComponent() %}  
  <div class="container container--medium text-center">
    <div class="mx-auto max-w-screen-sm">
      <h2 class="mb-4 dark-copy">{{ testimonials.title | safe }}</h2>
      <p class="mb-4 font-light text-[color:var(--dark-gray)]">{{ testimonials.subTitle | safe }}</p>
    </div>
    <div class="grid lg:grid-cols-2">
      
      
      {% if testimonials.testimonialItems %}

        {% set borderClasses = '' %}
  
        {% for item in testimonials.testimonialItems %}

          {% if (loop.index == 1) %}
            {% set borderClasses = 'border-b lg:border-r' %}
          {% elif (loop.index == 2) %}
            {% set borderClasses = 'border-b' %}
          {% elif (loop.index == 3) %}
            {% set borderClasses = 'border-b lg:border-b-0 lg:border-r' %}
          {% else %}
            {% set borderClasses = '' %}
          {% endif %}

          <figure class="{{ borderClasses }} border-[color:var(--very-light-gray)] flex flex-col justify-center items-center p-8 text-center bg-[color:var(--lightest-gray)]  md:p-12">
            <blockquote class="mx-auto mb-4 max-w-2xl text-[color:var(--dark-gray)]">
              <h3 class="text-xl dark-copy">{{ item.title | safe  }}</h3>
              <p class="my-4 italic">"{{ item.quote | safe  }}"</p>
            </blockquote>
            <figcaption class="flex justify-center items-center space-x-3">
              <div class="space-y-0.5 font-medium text-left">
                <div class="dark-copy">~ {{ item.name | safe  }}</div>
              </div>
            </figcaption>
          </figure>

        {% endfor %}

      {% endif %}
    </div>
  </div>
{% endmacro %}
