{% import "./buttons/secondary-button.html" as secondaryButton with context %}

<div class="lg:flex">
  
  <div class="flex flex-col lg:basis-1/2 mb-4 lg:ml-4 lg:mb-0 lg:order-2 justify-evenly">
    <p class="dark-copy mb-3">Curious about how your current website is performing? Let me help!</p>
    <p class="dark-copy mb-3">I'm offering a free website audit to assess everything from performance and best practices to SEO and accessibility. My detailed analysis will uncover opportunities for improvement, helping you optimise your site for better performance and results.</p>
    <p class="dark-copy mb-3">I'll let you know if you can benefit from a new Kabooly managed website. My free audit provides valuable insights with no obligation.</p>

    {{ secondaryButton.button('Contact me', '/contact/#contact') }}
  </div>

  <img
    class="lg:mr-4 w-full lg:w-[50px] border-4 border-[color:var(--dark-purple)] border-solid rounded-md lg:basis-1/2 lg:object-cover lg:order-1 opacity-80"
    src="./_includes/static/img/core-web-vitals.webp"
    alt="Core Web Vitals image"
    width="720px"
    height="445px"
    loading="lazy"
  />
    
</div>
