<div class="lg:flex">
  
  <div class="flex flex-col lg:basis-1/2 mb-4 lg:ml-2 lg:mb-0 lg:order-2 justify-evenly">
    <p class="dark-copy mb-3">Curious about how your current website is performing? Let me help!</p>
    <p class="dark-copy mb-3">I'm offering a free website audit to assess everything from performance and best practices to SEO and accessibility. My detailed analysis will uncover opportunities for improvement, helping you optimise your site for better performance and results.</p>
    <p class="dark-copy mb-3">I'll let you know if you can benefit from a new Kabooly managed website. My free audit provides valuable insights with no obligation.</p>

    <a
      href="/contact/#contact"  
      class="self-end mb-3 rounded-md cursor-pointer inline-block bg-[color:var(--dark-blue)] text-white py-4 px-6 hover:opacity-90 border border-solid border-white"
    >
      <div class="flex items-center">Contact me
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24px"
          height="24px"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="pl-1 size-6">
          <path
            stroke-linecap="round"
            stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          />
        </svg>
      </div>
    </a>
  </div>

  <img
    class="lg:mr-2 w-full lg:w-[50px] rounded-md lg:basis-1/2 lg:object-contain lg:order-1"
    src="./_includes/static/img/core-web-vitals.png"
    alt="Core Web Vitals image"
    width="364px"
    height="289px"
  />
    
</div>
