{% import "./checklist-item.html" as checkList with context %}

<ul class="sm:grid sm:grid-cols-2">
  {{ checkList.checkListItem('SEO baked in', 'text-[color:var(--dark-yellow)] mb-3', 'text-white') }}
  {{ checkList.checkListItem('Google Analytics', 'text-[color:var(--dark-yellow)] mb-3', 'text-white') }}
  {{ checkList.checkListItem('Simple pricing structure', 'text-[color:var(--dark-yellow)] mb-3', 'text-white') }}
  {{ checkList.checkListItem('Fully built and managed by me', 'text-[color:var(--dark-yellow)] mb-3', 'text-white') }}
  {{ checkList.checkListItem('Top Google Core Web Vital scores', 'text-[color:var(--dark-yellow)] mb-3', 'text-white') }}
  {{ checkList.checkListItem('Domain name', 'text-[color:var(--dark-yellow)] mb-3', 'text-white') }}
  {{ checkList.checkListItem('Lightweight Content Management System', 'text-[color:var(--dark-yellow)] mb-3', 'text-white') }}
  {{ checkList.checkListItem('Content Delivery Network', 'text-[color:var(--dark-yellow)] mb-3', 'text-white') }}
  {{ checkList.checkListItem('Hosting', 'text-[color:var(--dark-yellow)] mb-3', 'text-white') }}
  {{ checkList.checkListItem('Email address', 'text-[color:var(--dark-yellow)] mb-3', 'text-white') }}
  {{ checkList.checkListItem('Google business profile', 'text-[color:var(--dark-yellow)] mb-3', 'text-white') }}
  {{ checkList.checkListItem('SSL certificate', 'text-[color:var(--dark-yellow)] mb-3', 'text-white') }}
  {{ checkList.checkListItem('Conforms to accessibility standards', 'text-[color:var(--dark-yellow)] mb-3', 'text-white') }}
</ul>