{% import "./checklist-item.html" as checkList with context %}

<ul class="sm:grid sm:grid-cols-2">
  {{ checkList.checkListItem(title='SEO baked in', classes='text-[color:var(--dark-yellow)] mb-3', textColour='text-white') }}
  {{ checkList.checkListItem(title='Google Analytics', classes='text-[color:var(--dark-yellow)] mb-3', textColour='text-white') }}
  {{ checkList.checkListItem(title='Simple pricing structure', classes='text-[color:var(--dark-yellow)] mb-3', textColour='text-white') }}
  {{ checkList.checkListItem(title='Fully built and managed by me', classes='text-[color:var(--dark-yellow)] mb-3', textColour='text-white') }}
  {{ checkList.checkListItem(title='Top Google Core Web Vital scores', classes='text-[color:var(--dark-yellow)] mb-3', textColour='text-white') }}
  {{ checkList.checkListItem(title='Domain name', classes='text-[color:var(--dark-yellow)] mb-3', textColour='text-white') }}
  {{ checkList.checkListItem(title='Lightweight Content Management System', classes='text-[color:var(--dark-yellow)] mb-3', textColour='text-white') }}
  {{ checkList.checkListItem(title='Content Delivery Network', classes='text-[color:var(--dark-yellow)] mb-3', textColour='text-white') }}
  {{ checkList.checkListItem(title='Hosting', classes='text-[color:var(--dark-yellow)] mb-3', textColour='text-white') }}
  {{ checkList.checkListItem(title='Email address', classes='text-[color:var(--dark-yellow)] mb-3', textColour='text-white') }}
  {{ checkList.checkListItem(title='Google business profile', classes='text-[color:var(--dark-yellow)] mb-3', textColour='text-white') }}
  {{ checkList.checkListItem(title='SSL certificate', classes='text-[color:var(--dark-yellow)] mb-3', textColour='text-white') }}
  {{ checkList.checkListItem(title='Conforms to accessibility standards', classes='text-[color:var(--dark-yellow)] mb-3', textColour='text-white') }}
</ul>