@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

@font-face {
  font-family: skwdFont;
  src: url(font.ttf);
}

:root {
  --primary-color: #041f49;
  --primary-hover: #364a6a;
  --secondary-color: #dc23f0;
}

body {
  font-family: skwdFont, Helvetica, Arial, freesans, sans-serif;
}

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

@media (min-width: 1536px) {
  .container {
      max-width: 1400px !important;
  }
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

/* To stop flicker after deferring Alpine JS */
[x-cloak] { display: none !important; }
