backend:
  # Use netlify identity as backend
  name: git-gateway
  branch: main
media_folder: "src/_includes/static/img"
public_folder: "/_includes/static/img"

# Please run "npx netlify-cms-proxy-server" for local backend
local_backend: true
# publish_mode: editorial_workflow
collections:
  - name: "homepage"
    label: "Homepage"
    files:
      - label: "Homepage Content"
        name: "homepage"
        file: "src/_data/seoIntroText.yaml"  # Path to the YAML file
        fields:
          - label: "SEO Intro Text"
            name: "seoIntroText"
            widget: "list"
            fields:
              - { label: "Heading", name: "heading", widget: "string", required: false }
              - label: "Paragraphs"
                name: "paragraphs"
                widget: "list"
                field: { label: "Paragraph", name: "paragraph", widget: "text" }
  - label: "Article"
    name: "articles"
    folder: "src/articles"
    create: true
    fields:
      - {
        label: "Title",
        name: "title",
        widget: "string",
        hint: "*This title will be used in the page's H1 tag, and also determines the URL (between 20 and 70 characters). If you want to make changes to this section after the page has been published then it's best to chat to David first.*",
        pattern: ['^.{20,70}$', "Must be between 20 and 70 characters"]
      }
      - { 
        label: "SEO Title",
        name: "seoTitle",
        widget: "string",
        hint: "*This title will be used in the title tag for search engines (between 50 and 60 characters). If you want to make changes to this section after the page has been published then it's best to chat to David first.*",
        pattern: ['^.{50,60}$', "Must be between 50 and 60 characters"]
      }
      - {
        label: "Description",
        name: "description",
        widget: "string",
        hint: "*Used in search engines (between 70 and 155 characters). If you want to make changes to this section after the page has been published then it's best to chat to David first.*",
        pattern: ['^.{70,155}$', "Must be between 70 and 155 characters"]
      }
      - { label: "Author", name: "author", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Show Date?", name: "showDate", widget: "boolean", default: false, required: false }
      - { label: "Body", name: "body", widget: "markdown" }
      - widget: select
        label: "type"
        name: "type"
        create: true
        options: ["article", "privacy"]
        default: "article"
      - widget: select
        label: "tags"
        name: "tags"
        multiple: true
        create: true
        options: ["article", "privacy", "faq"]
        default: ["article"]
  - label: "Games"
    name: "games"
    folder: "src/games"
    create: true
    fields:
      - {
        label: "Brand",
        name: "brand",
        widget: "image"
      }
      - {
        label: "Image Alt",
        name: "imageAlt",
        widget: "string"
      }
      - {
        label: "Title",
        name: "title",
        widget: "string"
      }
      - {
        label: "Score",
        name: "score",
        widget: "number",
        min: 1,
        max: 100
      }
      - {
        label: "Rating",
        name: "rating",
        widget: "number",
        min: 1,
        max: 5
      }
      - label: Highlights
        name: highlights
        widget: list
        collapsed: false
        fields:
          - { label: Title, name: text, widget: string }
      - {
        label: "Welcome Offer",
        name: "welcomeOffer",
        widget: "string"
      }
      - widget: select
        label: "tags"
        name: "tags"
        multiple: true
        create: true
        options: ["slots", "top rated slots", "new slots", "slot games", "free slots", "video slots", "casinos", "top rated casinos", "new casinos", "casino games", "free casinos", "video casinos"]
      - widget: select
        label: "type"
        name: "type"
        create: false
        options: ["game"]
        default: "game"
      - { label: External URL, name: externalUrl, widget: string }
      
  - label: "Settings"
    name: "settings"
    files:
      - label: "Navigation"
        name: "items"
        file: "src/_data/navigation.yaml"
        fields:
          - label: Nav Items
            name: firstLevelItems
            widget: list
            collapsed: false
            allow_add: false
            fields:
              - { label: Title, name: text, widget: string }
              - { label: URL, name: url, widget: string }
              - label: Nav Items
                name: secondLevelItems
                widget: list
                collapsed: true
                fields:
                  - { label: Title, name: text, widget: string }
                  - { label: URL, name: url, widget: string }
              
      - label: "Meta Settings"
        name: "settings"
        file: "src/_data/settings.yaml"
        fields:
          - { label: Site Name, name: siteName, widget: string }
          - { label: Author, name: author, widget: string }
          - { label: Powered by 1, name: poweredByOne, widget: string }
          - { label: Powered by 2, name: poweredByTwo, widget: string }
          - { label: Powered by 1 URL, name: poweredByOneUrl, widget: string }
          - { label: Powered by 2 URL, name: poweredByTwoUrl, widget: string }
          - { label: Email, name: email, widget: string }
          - { label: Phone number, name: phoneNumber, widget: string }
          - { label: Company number, name: companyNumber, widget: string }
  - label: "SEO"
    name: "seo"
    files:
      - label: "Homepage"
        name: "homepage"
        file: "src/_data/homepage.yaml"
        fields:
          - {
            label: "Title",
            name: "title",
            widget: "string",
            hint: "*This title will be used in the page's H1 tag, and also determines the URL (between 20 and 70 characters). If you want to make changes to this section after the page has been published then it's best to chat to David first.*",
            pattern: ['^.{20,70}$', "Must be between 20 and 70 characters"]
          }
          - { 
            label: "SEO Title",
            name: "seoTitle",
            widget: "string",
            hint: "*This title will be used in the title tag for search engines (between 50 and 60 characters). If you want to make changes to this section after the page has been published then it's best to chat to David first.*",
            pattern: ['^.{50,60}$', "Must be between 50 and 60 characters"]
          }
          - {
            label: "Description",
            name: "description",
            widget: "string",
            hint: "*Used in search engines (between 70 and 155 characters). If you want to make changes to this section after the page has been published then it's best to chat to David first.*",
            pattern: ['^.{70,155}$', "Must be between 70 and 155 characters"]
          }
      - label: "Slots"
        name: "slots"
        file: "src/_data/slots.yaml"
        fields:
          - {
            label: "Title",
            name: "title",
            widget: "string",
            hint: "*This title will be used in the page's H1 tag, and also determines the URL (between 20 and 70 characters). If you want to make changes to this section after the page has been published then it's best to chat to David first.*",
            pattern: ['^.{20,70}$', "Must be between 20 and 70 characters"]
          }
          - { 
            label: "SEO Title",
            name: "seoTitle",
            widget: "string",
            hint: "*This title will be used in the title tag for search engines (between 50 and 60 characters). If you want to make changes to this section after the page has been published then it's best to chat to David first.*",
            pattern: ['^.{50,60}$', "Must be between 50 and 60 characters"]
          }
          - {
            label: "Description",
            name: "description",
            widget: "string",
            hint: "*Used in search engines (between 70 and 155 characters). If you want to make changes to this section after the page has been published then it's best to chat to David first.*",
            pattern: ['^.{70,155}$', "Must be between 70 and 155 characters"]
          }
          - { label: 'Content', name: 'content', widget: 'markdown' }
      - label: "Top Rated Slots"
        name: "top rated slots"
        file: "src/_data/top%20rated%20slots.yaml"
        fields:
          - {
            label: "Title",
            name: "title",
            widget: "string",
            hint: "*This title will be used in the page's H1 tag, and also determines the URL (between 20 and 70 characters). If you want to make changes to this section after the page has been published then it's best to chat to David first.*",
            pattern: ['^.{20,70}$', "Must be between 20 and 70 characters"]
          }
          - { 
            label: "SEO Title",
            name: "seoTitle",
            widget: "string",
            hint: "*This title will be used in the title tag for search engines (between 50 and 60 characters). If you want to make changes to this section after the page has been published then it's best to chat to David first.*",
            pattern: ['^.{50,60}$', "Must be between 50 and 60 characters"]
          }
          - {
            label: "Description",
            name: "description",
            widget: "string",
            hint: "*Used in search engines (between 70 and 155 characters). If you want to make changes to this section after the page has been published then it's best to chat to David first.*",
            pattern: ['^.{70,155}$', "Must be between 70 and 155 characters"]
          }
          - { label: 'Content', name: 'content', widget: 'markdown' }
      - label: "Casinos"
        name: "casinos"
        file: "src/_data/casinos.yaml"
        fields:
          - {
            label: "Title",
            name: "title",
            widget: "string",
            hint: "*This title will be used in the page's H1 tag, and also determines the URL (between 20 and 70 characters). If you want to make changes to this section after the page has been published then it's best to chat to David first.*",
            pattern: ['^.{20,70}$', "Must be between 20 and 70 characters"]
          }
          - { 
            label: "SEO Title",
            name: "seoTitle",
            widget: "string",
            hint: "*This title will be used in the title tag for search engines (between 50 and 60 characters). If you want to make changes to this section after the page has been published then it's best to chat to David first.*",
            pattern: ['^.{50,60}$', "Must be between 50 and 60 characters"]
          }
          - {
            label: "Description",
            name: "description",
            widget: "string",
            hint: "*Used in search engines (between 70 and 155 characters). If you want to make changes to this section after the page has been published then it's best to chat to David first.*",
            pattern: ['^.{70,155}$', "Must be between 70 and 155 characters"]
          }
          - { label: 'Content', name: 'content', widget: 'markdown' }
      - label: "Top Rated Casinos"
        name: "top rated casinos"
        file: "src/_data/top%20rated%20casinos.yaml"
        fields:
          - {
            label: "Title",
            name: "title",
            widget: "string",
            hint: "*This title will be used in the page's H1 tag, and also determines the URL (between 20 and 70 characters). If you want to make changes to this section after the page has been published then it's best to chat to David first.*",
            pattern: ['^.{20,70}$', "Must be between 20 and 70 characters"]
          }
          - { 
            label: "SEO Title",
            name: "seoTitle",
            widget: "string",
            hint: "*This title will be used in the title tag for search engines (between 50 and 60 characters). If you want to make changes to this section after the page has been published then it's best to chat to David first.*",
            pattern: ['^.{50,60}$', "Must be between 50 and 60 characters"]
          }
          - {
            label: "Description",
            name: "description",
            widget: "string",
            hint: "*Used in search engines (between 70 and 155 characters). If you want to make changes to this section after the page has been published then it's best to chat to David first.*",
            pattern: ['^.{70,155}$', "Must be between 70 and 155 characters"]
          }
          - { label: 'Content', name: 'content', widget: 'markdown' }
  - label: "Components"
    name: "components"
    files:
      - label: "FAQs"
        name: "faqs"
        file: "src/_data/faqsData.yaml"
        fields:
          - label: FAQ Items
            name: faqs
            widget: list
            collapsed: false
            fields:
              - { label: Question, name: question, widget: string }
              - { label: Answer, name: answer, widget: string }
