---
layout: default
path: contact
type: contact
seoTitle: Contact | Kabooly
---

{% import "./_includes/partials/navbar.html" as navBar with context %}
{% import "./_includes/components/buttons/more-button.html" as moreButton with context %}

<section class="min-h-screen flex flex-col bg-[color:var(--dark-gray)] justify-between border-b-4 border-b-[color:var(--light-yellow)] border-solid">

  {{ navBar.nav('bg-[color:var(--dark-gray)]') }}
  
  <div class="container content-center">
    {% include "./_includes/components/hero-contact.html" %}
  </div>

  {{ moreButton.button('bg-[color:var(--light-yellow)]', 'border-[color:var(--light-yellow)]', 'text-[color:var(--dark-copy)]') }}
</section>

<section data-test="moreButtonLocation">
  <div class="container container--large">
    {% include "./_includes/components/contact-form.html" %}
  </div>
</section>

<section class="bg-[color:var(--dark-purple)]">
  <div class="container container--large">
    <div class="mb-4">
      <h2 class="inline-block mb-0">About me.</h2>
    </div>    

    {% include "./_includes/components/about-me.html" %}
    
  </div>
</section>
