---
layout: default
path: howItWorks
type: howItWorks
seoTitle: How it works | Kabooly
---

{% import "./_includes/partials/navbar.html" as navBar with context %}
{% import "./_includes/components/buttons/more-button.html" as moreButton with context %}
{% import "./_includes/components/faqs.html" as faqs with context %}

<section class="min-h-dvh flex flex-col bg-[color:var(--dark-purple)] justify-between border-b-4 border-b-[color:var(--dark-yellow)] border-solid">

  {{ navBar.nav('bg-[color:var(--dark-purple)]') }}
  
  <div class="container content-center">
    {% include "./_includes/components/hero-how-it-works.html" %}
  </div>

  {{ moreButton.button('bg-[color:var(--dark-gray)]', 'border-[color:var(--dark-gray)]') }}
</section>

<section data-test="moreButtonLocation">
  <div class="container container--large dark-copy">
    <div class="mb-4">
      <h2 class="inline-block mb-0">How it works.</h2>
    </div>

    {% include "./_includes/components/how-it-works.html" %}
    
  </div>
</section>

<section>
  <div class="container container--large">
    <h2 class="mb-4 dark-copy">FAQs.</h2>

    {{ faqs.faqComponent('dark-copy') }}
    
  </div>
</section>
