---
layout: default
path: howItWorks
type: howItWorks
seoTitle: How it works | Kabooly
---

<section class="min-h-screen flex flex-col bg-[color:var(--dark-purple)] justify-between border-b-4 border-b-[color:var(--dark-yellow)] border-solid">

  {% set pageType = 'howItWorks' %}

  {% include "./_includes/partials/navbar.html" %}
  
  <div class="container content-center">
    {% include "./_includes/components/hero-how-it-works.html" %}
  </div>

  <div class="text-center lg:block">
    <button
      data-test="moreButton"
      class="animate-bounce p-4 shadow-sm bg-[color:var(--dark-gray)] w-16 h-16 rounded-full mb-6 border border-solid border-[color:var(--dark-gray)] hover:border hover:border-solid hover:border-white">
      <span class="text-xs">More</span>
      <span class="text-lg">&caron;</span>
    </button>
  </div>  
</section>

<section data-test="moreButtonLocation">
  <div class="container container--large dark-copy">
    <div class="mb-4">
      <h2 class="inline-block mb-0">How it works.</h2>
    </div>

    {% include "./_includes/components/how-it-works.html" %}
    
  </div>
</section>
