---
layout: default
path: home
---

{% include "./_includes/components/hero.html" %}

<div class="container mx-auto flex flex-col justify-center items-center">

  <div class="grid grid-cols-1 gap-3 px-4 mb-8" style="max-width: 1200px">
    <h2 class="text-lg"><strong>Want a no fuss micro-site to get your business out to the world?</strong></h2>
	  
    <p>Nearly every business will need a website..  Not having one means falling behind the competition.</p>
	<p>In th era of the automated website builder what I am offering is a more tailored approach with a focus on perfomrmance and search engine optimisation</p>
	<p>I am a Web Developer with 25 years of experience based in Kingston Upon Thames. You can find out more about me <a href="/posts/about" class="underline">here</a>, and take a look below at the steps needed to go from idea to a fully deployed live website.</p>
  </div>

  <!-- Product cards -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 px-4 lg:mx-0">
	{% set productCardList = collections.productCard %}

    {% for productCard in productCardList | sort(false, true, 'data.order') %}
		{% include "./_includes/components/product-card.html" %}
    {% endfor %}
  </div>
</div>