---
layout: default
path: home
type: home
---

{% import "./_includes/partials/navbar.html" as navBar with context %}
{% import "./_includes/components/buttons/more-button.html" as moreButton with context %}

<section class="h-screen h-dvh flex flex-col bg-[color:var(--dark-blue)] justify-between border-b-4 border-b-[color:var(--dark-purple)] border-solid">

  {{ navBar.nav('bg-[color:var(--dark-blue)]') }}
  
  <div class="container content-center">
    {% include "./_includes/components/hero.html" %}
  </div>
  
  {{ moreButton.button('bg-[color:var(--dark-purple)]', 'border-[color:var(--dark-purple)]') }}
</section>

<section data-test="moreButtonLocation">
  <div class="container container--large dark-copy">
    <div class="mb-4">
      <h2 class="inline-block mb-0">How it works.</h2>
      <span class="ml-2">See more <a href="/how-it-works/" class="anchor-pop ">about how it works</a>. Launch your site in 4 easy steps.</span>
    </div>

    {% include "./_includes/components/how-it-works.html" %}
    
  </div>
</section>

<section class="bg-[color:var(--dark-purple)]">
  <div class="container container--large">
    <div class="mb-4">
      <h2 class="inline-block mb-0">About me.</h2>
      <span class="ml-2">Click here to <a href="/contact/" class="anchor-highlight ">contact me</a></span>
    </div>    

    {% include "./_includes/components/about-me.html" %}
    
  </div>
</section>

<section>
  <div class="container container--large dark-copy">
    <div class="mb-4">
      <h2 class="inline-block">Pricing.</h2> 
      <span class="ml-2">See more <a href="/pricing/" class="anchor-pop ">about pricing</a>.</span>
    </div>

    <div class="md:flex">
      {% include "./_includes/components/standard-pricing.html" %}

      {% include "./_includes/components/pro-pricing.html" %}
    </div>
  </div>
  
</section>
