---
layout: default
path: pricing
type: pricing
seoTitle: Pricing, simplified | Kabooly
description: Explore affordable web design packages at Kabooly. Custom solutions tailored to your needs, with clear pricing and no hidden fees.
---

{% import "./_includes/partials/navbar.html" as navBar with context %}
{% import "./_includes/components/buttons/more-button.html" as moreButton with context %}
{% import "./_includes/components/faqs.html" as faqs with context %}

<section class="min-h-dvh flex flex-col bg-[color:var(--dark-copy)] justify-between border-b-4 border-b-[color:var(--light-yellow)] border-solid">

  {{ navBar.nav('bg-[color:var(--dark-copy)]') }}
  
  <div class="container content-center">
    {% include "./_includes/components/hero-pricing.html" %}
  </div>

  {{ moreButton.button('bg-[color:var(--light-yellow)]', 'border-[color:var(--light-yellow)]', 'text-[color:var(--dark-copy)]') }}
</section>

<section data-test="moreButtonLocation">
  <div class="container container--large dark-copy">
    <div class="mb-4">
      <h2 class="inline-block">Pricing.</h2>
    </div>

    <div class="md:flex" id="pricing">
      {% include "./_includes/components/standard-pricing.html" %}

      {% include "./_includes/components/pro-pricing.html" %}
    </div>
  </div>
  
</section>

<section class="bg-[color:var(--dark-purple)]">
  <div class="container container--large flex flex-col max-w-2xl">
    
    
    <div class="mb-4">
      <h2 class="inline-block">How does pricing work.</h2>
    </div>

    <div class="flex flex-col sm:items-center">
      {% include "./_includes/components/how-does-pricing-work.html" %}
    </div>
    

    
</section>

<section>
  <div class="container container--large">
    <h2 class="mb-4 dark-copy">FAQs.</h2>

    {{ faqs.faqComponent('dark-copy') }}
    
  </div>
</section>
