---
layout: default
path: pricing
type: pricing
seoTitle: Pricing | Kabooly
---

{% import "./_includes/partials/navbar.html" as navBar with context %}
{% import "./_includes/components/buttons/more-button.html" as moreButton with context %}

<section class="min-h-dvh flex flex-col bg-[color:var(--dark-green)] justify-between border-b-4 border-b-[color:var(--light-yellow)] border-solid">

  {{ navBar.nav('bg-[color:var(--dark-green)]') }}
  
  <div class="container content-center">
    {% include "./_includes/components/hero-pricing.html" %}
  </div>

  {{ moreButton.button('bg-[color:var(--light-yellow)]', 'border-[color:var(--light-yellow)]', 'text-[color:var(--dark-copy)]') }}
</section>

<section data-test="moreButtonLocation">
  <div class="container container--large dark-copy">
    <div class="mb-4">
      <h2 class="inline-block">Pricing.</h2>
    </div>

    <div class="md:flex">
      {% include "./_includes/components/standard-pricing.html" %}

      {% include "./_includes/components/pro-pricing.html" %}
    </div>
  </div>
  
</section>
