---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /games/{{ tag | slugify }}/index.html
layout: default
ogType: website
eleventyComputed:
  description: "Discover top-quality {{ tag }} for sale. Perfect for weaving enthusiasts, my {{ tag }} offers durability and precision. Shop online today!"
  seoTitle: "Buy {{ tag }} Online | High-Quality {{ tag }} for Sale"
  canonical: "{{ env.site }}/games/{{ tag | slugify }}/"
---

{% import "./_includes/partials/navbar.html" as navBar with context %}
{% import "./_includes/components/buttons/button.html" as button with context %}
{% import "./_includes/components/game.html" as gameMacro with context %}

<div class="border-b border-solid border-b-[color:var(--very-light-gray)]">
  {{ navBar.nav('bg-[color:var(--white)]') }}
</div>

<section class="container container--medium dark-copy">

  {% if tag %}
    <h2 class="capitalize">{{ tag }}</h2>
  {% endif %}

  <div class="grid grid-cols-1 gap-4 gap-y-8">

    {% for game in collections[tag] %}
      {{ gameMacro.game(game) }}
    {% endfor %}

  </div>
</section>  
