---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - article
    - faq
    - privacy
    - all
    - news
  addAllPagesToCollections: true
permalink: /sites/{{ tag | slugify }}/index.html
layout: default
ogType: website
eleventyComputed:
  seoTitle: "{% if tag and tagData[tag] %}{{ tagData[tag].seoTitle }}{% endif %}"
  description: "{% if tag and tagData[tag] %}{{ tagData[tag].description }}{% endif %}"
  canonical: "{{ env.site }}/sites/{{ tag | slugify }}/"
---

{% import "./_includes/partials/navbar.html" as navBar with context %}
{% import "./_includes/components/site.html" as siteMacro with context %}

{{ navBar.nav('bg-[color:var(--white)]') }}

<section class="container container--medium dark-copy">

  <h1 class="mb-8">{{ tagData[tag].title }}</h1>

  <div class="grid grid-cols-1 gap-4 gap-y-8">

    {% for site in collections[tag] %}
      {{ siteMacro.site(site) }}
    {% endfor %}

    <div class="prose !max-w-none prose-h2:mt-4">
      {{ tagData[tag].content | default("") | toString | markdownify | safe }}
    </div>

  </div>
</section>