@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

@font-face {
  font-family: skwdFont;
  src: url("/_includes/static/css/font.ttf");
  font-display: swap;
}

:root {
  --primary-color: #041f49;
  --primary-hover: #364a6a;
  --secondary-color: #dc23f0;
}

body {
  font-family: skwdFont, Helvetica, Arial, freesans, sans-serif;
}

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

@media (min-width: 1536px) {
  .container {
      max-width: 1400px !important;
  }
}

.iconColour {
  --tw-text-opacity: 1;
  stroke: rgb(107 114 128 / var(--tw-text-opacity));
}

.checkIcon {
  background-image:url('/_includes/static/img/svgIcons/check.svg');
  height: 24px;
  width: 24px;
  display: inline-flex;
  vertical-align: text-bottom;
  margin-right: 4px;
}

.rocketIcon {
  background-image:url('/_includes/static/img/svgIcons/rocket2.svg');
  height: 24px;
  width: 24px;
  display: inline-flex;
  vertical-align: text-bottom;
  margin-right: 4px;
}

.computerIcon {
  background-image:url('/_includes/static/img/svgIcons/computerDesktop.svg');
  height: 24px;
  width: 24px;
  display: inline-flex;
  vertical-align: text-bottom;
  margin-right: 4px;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

/* To stop flicker after deferring Alpine JS */
[x-cloak] { display: none !important; }
