@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/
:root {
  /*
    This bright, vibrant blue evokes technology, trust, and creativity.
    It’s ideal for call-to-action buttons or key visual elements.
  */
  --primary-color: #007BFF;

  /*
    A fresh, playful color that pairs well with electric blue.
    Use it sparingly for highlights, icons, or hover effects to add a lively feel.
  */
  --accent-color-neutral: #F0F0F0;

  /*
    This dark gray offers a professional and modern backdrop for text and subtle design elements.
    It balances the vibrancy of the primary colors without overpowering them.
  */
  --accent-color-highlight: #FFD700;

  /*
    A warm, contrasting color to use sparingly for important elements like buttons,
    notifications, or key sections. It adds energy and a dynamic look.
  */
  --accent-color-pop: #A855F7;

  /*
    A soft off-white or very light gray can be used for the background,
    creating a clean and modern canvas for the more vibrant elements to pop.
  */
  --background-color: #1d4ed8;
}

body {
  @apply text-white;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

h1 {
  @apply text-4xl tracking-tighter lg:text-7xl mb-5;

  font-weight: 700;
}

h2, h3, h4 {
  font-weight: 500;
}

h2 {
  @apply text-xl font-bold mb-4;
}

h3, h4 {
  @apply text-2xl scroll-mb-3;
}

/* Syntax Highlighting*/
body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

/* To stop flicker after deferring Alpine JS */
[x-cloak] { display: none !important; }
