@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/
:root { 
  --earthy-beige-light: #ebe2d6;
  --earthy-beige: #D8C3A5;
  --royal-purple: #3A6B75;
  --royal-purple: #694894;
  --soft-clay: #B26A5A;
  --white: #FFFFFF;
  --lightest-gray: #f9fafb;
  --very-light-gray: #dcdcdc;
  --dark-gray: #5f6571;
  --dark-copy: #333333;
  --sold: var(--soft-clay);
}

body {
  @apply text-white;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1 {
  @apply text-3xl sm:text-4xl tracking-tighter lg:text-5xl mb-5;
}

h1, h2, h3, h4 {
  @apply tracking-tighter;

  font-weight: 700;
}

h2 {
  @apply text-2xl sm:text-3xl lg:text-4xl mb-4;
}

h3, h4 {
  @apply text-xl sm:text-2xl lg:text-3xl mb-4;
}

p {
  @apply mb-4;
}

.menu-styles {
  @apply fixed left-0 border-b border-b-white pb-6 top-0 h-screen pt-16;
}

.dark-copy {
  color: var(--dark-copy);
}

.subtle-text-on-light-background {
  color: var(--dark-gray);
}

.container {
  @apply p-4 sm:p-5 md:p-6;
}

.container--medium {
  @apply py-6 sm:py-7 md:py-14;
}

.container--large {
  @apply py-9 sm:py-10 md:py-28;
}

.anchor-highlight {
  @apply underline-offset-4 decoration-2 underline decoration-[color:var(--royal-purple)];
}

.anchor-white {
  @apply underline-offset-4 decoration-2 underline decoration-[color:var(--white)];
}

#sortbox:checked ~ #sortboxmenu {
  opacity: 1;
}

/*
  Article image component
*/
img.Centre {
  @apply mx-auto;
}

img.Left {
  @apply m-0 md:float-left md:pr-12 md:pb-12 md:max-w-[50%];
}

img.Right {
  @apply m-0 md:float-right md:pl-12 md:pb-12 md:max-w-[50%];
}

.youtube-embed {
  @apply flex flex-col items-center mt-7
}

.youtube-embed.Left {
  @apply m-0 lg:float-left lg:pr-12 lg:pb-8 mt-0;
}

.youtube-embed.Right {
  @apply m-0 lg:float-right lg:pl-12 lg:pb-8 mt-0;
}

.background-image-class {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('/_includes/static/img/pexels-juliasakelli-1342492.avif');
  background-size: cover;
}

/*
  Slider
*/
.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.glide * {
  box-sizing: inherit;
}

.glide__track {
  overflow: hidden;
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}

.glide__slides--dragging {
  user-select: none;
}

.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: initial;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}

.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
}

.glide--rtl {
  direction: rtl;
}

/* Syntax Highlighting*/
body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

@layer components {
  .container {
    @apply max-w-none sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl 3xl:max-w-screen-3xl;
  }
}
