@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
Gold – #FFD700: Symbolizing luck, wealth, and excitement, gold works well for a slots game, creating a sense of high stakes and prestige.

Electric Blue – #1E90FF: A bright, eye-catching blue that adds energy and a modern feel to the site, perfect for capturing attention.

Neon Green – #32CD32: This colour gives off a fun and lively vibe, often associated with neon lights and the thrill of a casino environment.
*/

/*Your Custom CSS Goes here*/
/* TODO - get rid of old colours when migration complete */
:root {
  --primary-colour: #1E90FF;
  --secondary-colour: #FFD700;
  --tertiary-colour: #32CD32;
  --earthy-beige-light: #ebe2d6;
  --earthy-beige: #D8C3A5;
  --royal-purple: #3A6B75;
  --royal-purple: #694894;
  --soft-clay: #B26A5A;
  --white: #FFFFFF;
  --lightest-gray: #f9fafb;
  --very-light-gray: #eaeaea;
  --dark-gray: #5f6571;
  --dark-copy: #333333;
  --sold: var(--soft-clay);
}

body {
  @apply text-white;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1 {
  @apply text-2xl sm:text-3xl tracking-tighter lg:text-4xl mb-5;
}

h1, h2, h3, h4 {
  @apply tracking-tighter;

  font-weight: 700;
}

h2 {
  @apply text-xl sm:text-2xl lg:text-3xl mb-4;
}

h3, h4 {
  @apply text-lg sm:text-xl lg:text-2xl mb-4;
}

p {
  @apply mb-4;
}

.dark-copy {
  color: var(--dark-copy);
}

.subtle-text-on-light-background {
  color: var(--dark-gray);
}

.container {
  @apply p-4 sm:p-5 md:p-6 !max-w-[1100px];
}

.container--medium {
  @apply py-6 sm:py-7 md:py-14;
}

.container--large {
  @apply py-9 sm:py-10 md:py-28;
}

.anchor-highlight {
  @apply underline-offset-4 decoration-2 underline decoration-[color:var(--royal-purple)];
}

.anchor-white {
  @apply underline-offset-4 decoration-2 underline decoration-[color:var(--white)];
}

#sortbox:checked ~ #sortboxmenu {
  opacity: 1;
}

/*
  Article image component
*/
img.Centre {
  @apply mx-auto;
}

img.Left {
  @apply m-0 md:float-left md:pr-12 md:pb-12 md:max-w-[50%];
}

img.Right {
  @apply m-0 md:float-right md:pl-12 md:pb-12 md:max-w-[50%];
}

.youtube-embed {
  @apply flex flex-col items-center mt-7
}

.youtube-embed.Left {
  @apply m-0 lg:float-left lg:pr-12 lg:pb-8 mt-0;
}

.youtube-embed.Right {
  @apply m-0 lg:float-right lg:pl-12 lg:pb-8 mt-0;
}

/* Syntax Highlighting*/
body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

@layer components {
  .container {
    @apply max-w-none sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl 3xl:max-w-screen-3xl;
  }
}
