{% import "../components/buttons/anchor.html" as anchor with context %}

<footer class="relative py-20 flex flex-col items-center bg-[color:var(--primary-colour)] overflow-hidden md:py-28">
  <div class="relative z-[1] container m-auto px-6 md:px-12">
    <div class="m-auto md:w-10/12 xl:w-8/12">
      <div class="flex flex-wrap items-center justify-between md:flex-nowrap">
        <div class="w-full space-x-12 flex justify-center sm:w-7/12 md:justify-start">

          {% for item in navigation.firstLevelItems %}
            {% if item.text != 'Home' and item.text != 'FAQs' %}
                        

              {% if item.secondLevelItems %}
                <ul role="list" class="space-y-8">
                  {% for subItem in item.secondLevelItems %}
                    <li>
                      <a
                        href="{{ subItem.url }}"
                        class="flex items-center space-x-3 hover:opacity-70 transition">
                          <span>{{ subItem.text }}</span>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              
            {% endif %}
          {% endfor %}                
            
        </div>
        <div class="w-10/12 m-auto  mt-16 text-center sm:text-left sm:w-5/12 sm:mt-0">
          {% if settings.siteName %}
            <span class="block font-bold">{{ settings.siteName }}</span>
          {% endif %}

          <span class="block py-3">
            <a href="/privacy-policy/" class="font-semibold text-white hover:opacity-70">Privacy Policy</a> 
          </span>

          <small class="text-white">
            © {{ helpers.currentYear() }} <a href="{{ settings.poweredByOneUrl }}" target="_blank" rel="noopener" class="underline">{{ settings.poweredByOne }}</a> & <a href="{{ settings.poweredByTwoUrl }}" target="_blank" rel="noopener" class="underline">{{ settings.poweredByTwo }}</a>. All rights reserved.
          </small>
        </div>
      </div>
    </div>
  </div>

</footer>

<div class="container">
  <div class="flex justify-center bg-white py-4 gap-x-8">
    <img
      src="/_includes/static/img/gamcarelogo.avif"
      alt="Gamcare logo"
      class="w-full max-w-[90px] self-center"
      width="180px"
      height="150px"              
    />    
    <img
      src="/_includes/static/img/begambleaware logo.avif"
      alt="Gamble Aware logo"
      class="w-full max-w-[150px] self-center"
      width="300px"
      height="150px"
    />
    <img
      src="/_includes/static/img/18logo.avif"
      alt="18+ logo"
      class="w-full max-w-[76px] self-center"
      width="153px"
      height="150px"
    />
  </div>

  <ul class="flex flex-col self-center dark-copy text-center">
    <li>
      <a
        href="https://www.gambleaware.org/"
        class="underline"
        target="_blank"
        rel="noopener">
        GambleAware
      </a>
    </li>
    <li>
      <a
        href="https://www.gamstop.co.uk/"
        class="underline"
        target="_blank"
        rel="noopener">
        Gamstop
      </a>
    </li>
  </ul>

  <small class="text-center block mt-6 dark-copy text-xs">
    <p>At Slot Picks our aim is to offer every online casino and slots players a choice of the latest new online slots and casino sites and their latest welcome bonuses for you to try them as well as some of the well-established brands such as Bet365, Coral & Ladbrokes.</p>
    <p>Our review and scoring system is completely unbiased but based on the opinions of seasoned online gamblers as well as other sources and trusted review sites.</p>
    <p>We do our best to keep all welcome bonuses and promotional details accurate and up to date. However, online slots and casino offers and terms can change at any time for new and existing players. Always check the casino’s official website for the latest promotions and full terms and conditions before signing up or making a deposit.
  We will only promote highly trusted and secure brands on our website.</p>
  </small>

</div>

