{% macro schema() %}

  <script type="application/ld+json">

  {% if seoSchemaPageType == 'Organization' %}

    {# Organisation JSON ld #}
      
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "image": "{{ env.site }}/android-chrome-512x512.png",
      "url": "{{ env.site }}",
      "logo": "{{ env.site }}/android-chrome-512x512.png",
      "name": "{{ settings.siteName }}",
      "description": "{{ description }}",
      "email": "{{ settings.email }}",
      "telephone": "{{ settings.phoneNumber }}",
      "priceRange": "££",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "{{ settings.addressLineOne | safe }} {{ settings.addressLineTwo | safe }} {{ settings.addressLineThree | safe }}",
        "addressLocality": "{{ settings.townCity | safe }}",
        "addressCountry": "{{ settings.country | safe }}",
        "addressRegion": "{{ settings.region | safe }}",
        "postalCode": "{{ settings.postCode | safe }}"
      },
      "openingHoursSpecification": [{
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Thursday"
        ],
        "opens": "{{ settings.googleOpeningMonday | safe }}",
        "closes": "{{ settings.googleClosingMonday | safe }}"
      },{
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Tuesday",
          "Wednesday"
        ],
        "opens": "{{ settings.googleOpeningTuesday | safe }}",
        "closes": "{{ settings.googleClosingTuesday | safe }}"
      },{
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": "Friday",
        "opens": "{{ settings.googleOpeningFriday | safe }}",
        "closes": "{{ settings.googleClosingFriday | safe }}"
      },{
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": "Saturday",
        "opens": "{{ settings.googleOpeningSaturday | safe }}",
        "closes": "{{ settings.googleClosingSaturday | safe }}"
      }]
    }

  {% elseif seoSchemaPageType == 'ContactPage' %}

    {# ContactPage JSON ld #}

    {
      "@context": "https://schema.org",
      "@type": "ContactPage",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ env.site }}/contact/"
      },
      "url": "{{ env.site }}/contact/",
      "publisher": {
        "@type": "LocalBusiness",
        "@id": "{{ env.site }}",
        "name": "{{ settings.siteName }}",
        "logo": "{{ env.site }}/android-chrome-512x512.png",
        "telephone": "{{ settings.phoneNumber }}",
        "priceRange": "££",
        "email": "{{ settings.email }}",
        "image": "{{ env.site }}/android-chrome-512x512.png",
        "description": "{{ description }}",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "{{ settings.addressLineOne | safe }} {{ settings.addressLineTwo | safe }} {{ settings.addressLineThree | safe }}",
          "addressLocality": "{{ settings.townCity | safe }}",
          "addressCountry": "{{ settings.country | safe }}",
          "addressRegion": "{{ settings.region | safe }}",
          "postalCode": "{{ settings.postCode | safe }}"
        },
        "openingHoursSpecification": [{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Thursday"
          ],
          "opens": "{{ settings.googleOpeningMonday | safe }}",
          "closes": "{{ settings.googleClosingMonday | safe }}"
        },{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Tuesday",
            "Wednesday"
          ],
          "opens": "{{ settings.googleOpeningTuesday | safe }}",
          "closes": "{{ settings.googleClosingTuesday | safe }}"
        },{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Friday",
          "opens": "{{ settings.googleOpeningFriday | safe }}",
          "closes": "{{ settings.googleClosingFriday | safe }}"
        },{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Saturday",
          "opens": "{{ settings.googleOpeningSaturday | safe }}",
          "closes": "{{ settings.googleClosingSaturday | safe }}"
        }]
      }
    }

  {% elseif seoSchemaPageType == 'FAQPage' %}

    {# FAQPage JSON ld #}

    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{% if faqsData.faqs %}{% for faqsDataItem in faqsData.faqs %}
        {
          "@type": "Question",
          "name": "{{ faqsDataItem.question | safe }}",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<p>{{ faqsDataItem.answer | safe }}</p>"
          }
        }{{ "" if loop.last else "," }}{% endfor %}{% endif %}
      ],
      "url": "{{ env.site }}/frequently-asked-questions-faqs/",
      "publisher": {
        "@type": "LocalBusiness",
        "@id": "{{ env.site }}",
        "name": "{{ settings.siteName }}",
        "logo": "{{ env.site }}/android-chrome-512x512.png",
        "telephone": "{{ settings.phoneNumber }}",
        "priceRange": "££",
        "email": "{{ settings.email }}",        
        "image": "{{ env.site }}/android-chrome-512x512.png",
        "description": "{{ description }}",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "{{ settings.addressLineOne | safe }} {{ settings.addressLineTwo | safe }} {{ settings.addressLineThree | safe }}",
          "addressLocality": "{{ settings.townCity | safe }}",
          "addressCountry": "{{ settings.country | safe }}",
          "addressRegion": "{{ settings.region | safe }}",
          "postalCode": "{{ settings.postCode | safe }}"
        },
        "openingHoursSpecification": [{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Thursday"
          ],
          "opens": "{{ settings.googleOpeningMonday | safe }}",
          "closes": "{{ settings.googleClosingMonday | safe }}"
        },{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Tuesday",
            "Wednesday"
          ],
          "opens": "{{ settings.googleOpeningTuesday | safe }}",
          "closes": "{{ settings.googleClosingTuesday | safe }}"
        },{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Friday",
          "opens": "{{ settings.googleOpeningFriday | safe }}",
          "closes": "{{ settings.googleClosingFriday | safe }}"
        },{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Saturday",
          "opens": "{{ settings.googleOpeningSaturday | safe }}",
          "closes": "{{ settings.googleClosingSaturday | safe }}"
        }]
      }
    }

  {% elseif seoSchemaPageType == 'Article' %}

    {# Article JSON ld #}

    {
      "@context": "https://schema.org",
      "@type": "Article",
      "headline": "{{ seoTitle | safe }}",
      "image": "{{ env.site }}/android-chrome-512x512.png",
      "url": "{{ env.site }}/{{ title | slugify }}/",
      "publisher": {
        "@type": "LocalBusiness",
        "@id": "{{ env.site }}",
        "name": "{{ settings.siteName }}",
        "logo": "{{ env.site }}/android-chrome-512x512.png",
        "telephone": "{{ settings.phoneNumber }}",
        "priceRange": "££",
        "email": "{{ settings.email }}",        
        "image": "{{ env.site }}/android-chrome-512x512.png",
        "description": "{{ description }}",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "{{ settings.addressLineOne | safe }} {{ settings.addressLineTwo | safe }} {{ settings.addressLineThree | safe }}",
          "addressLocality": "{{ settings.townCity | safe }}",
          "addressCountry": "{{ settings.country | safe }}",
          "addressRegion": "{{ settings.region | safe }}",
          "postalCode": "{{ settings.postCode | safe }}"
        },
        "openingHoursSpecification": [{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Thursday"
          ],
          "opens": "{{ settings.googleOpeningMonday | safe }}",
          "closes": "{{ settings.googleClosingMonday | safe }}"
        },{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Tuesday",
            "Wednesday"
          ],
          "opens": "{{ settings.googleOpeningTuesday | safe }}",
          "closes": "{{ settings.googleClosingTuesday | safe }}"
        },{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Friday",
          "opens": "{{ settings.googleOpeningFriday | safe }}",
          "closes": "{{ settings.googleClosingFriday | safe }}"
        },{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Saturday",
          "opens": "{{ settings.googleOpeningSaturday | safe }}",
          "closes": "{{ settings.googleClosingSaturday | safe }}"
        }]
      },
      "datePublished": "{{ date | iso8601 | safe }}"
    }

  {% elseif seoSchemaPageType == 'Product' %}

    {# Product JSON ld #}

    {
      "@context": "https://schema.org/", 
      "@type": "Product", 
      "name": "{{ title }}",
      "image": "{{ env.site }}{{ images[0].path }}",
      "description": "{{ description}}",
      "brand": {
        "@type": "Brand",
        "name": "Custom"
      },
      "offers": {
        "@type": "Offer",
        "url": "{{ env.site }}/{{ title | slugify}}",
        "priceCurrency": "GBP",
        "price": "{{ price }}",
        "availability": "https://schema.org/InStock",
        "itemCondition": "https://schema.org/NewCondition"
      }
      "productionMethod": "Handwoven",
      "category": "{{ tags[0] }}",
      "publisher": {
        "@type": "LocalBusiness",
        "@id": "{{ env.site }}",
        "name": "{{ settings.siteName }}",
        "logo": "{{ env.site }}/android-chrome-512x512.png",
        "telephone": "{{ settings.phoneNumber }}",
        "priceRange": "££",
        "email": "{{ settings.email }}",        
        "image": "{{ env.site }}/android-chrome-512x512.png",
        "description": "{{ description }}",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "{{ settings.addressLineOne | safe }} {{ settings.addressLineTwo | safe }} {{ settings.addressLineThree | safe }}",
          "addressLocality": "{{ settings.townCity | safe }}",
          "addressCountry": "{{ settings.country | safe }}",
          "addressRegion": "{{ settings.region | safe }}",
          "postalCode": "{{ settings.postCode | safe }}"
        },
        "openingHoursSpecification": [{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Thursday"
          ],
          "opens": "{{ settings.googleOpeningMonday | safe }}",
          "closes": "{{ settings.googleClosingMonday | safe }}"
        },{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Tuesday",
            "Wednesday"
          ],
          "opens": "{{ settings.googleOpeningTuesday | safe }}",
          "closes": "{{ settings.googleClosingTuesday | safe }}"
        },{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Friday",
          "opens": "{{ settings.googleOpeningFriday | safe }}",
          "closes": "{{ settings.googleClosingFriday | safe }}"
        },{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Saturday",
          "opens": "{{ settings.googleOpeningSaturday | safe }}",
          "closes": "{{ settings.googleClosingSaturday | safe }}"
        }]
      }
    }

  {% else %}

    {# WebSite JSON ld #}

    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "{{ seoTitle }}",
      "description": "{{ description }}",
      "image": "{{ env.site }}/android-chrome-512x512.png",
      "url": "{{ env.site }}",
      "publisher": {
        "@type": "LocalBusiness",
        "@id": "{{ env.site }}",
        "name": "{{ settings.siteName }}",
        "logo": "{{ env.site }}/android-chrome-512x512.png",
        "telephone": "{{ settings.phoneNumber }}",
        "priceRange": "££",
        "email": "{{ settings.email }}",
        "image": "{{ env.site }}/android-chrome-512x512.png",
        "description": "{{ description }}",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "{{ settings.addressLineOne | safe }} {{ settings.addressLineTwo | safe }} {{ settings.addressLineThree | safe }}",
          "addressLocality": "{{ settings.townCity | safe }}",
          "addressCountry": "{{ settings.country | safe }}",
          "addressRegion": "{{ settings.region | safe }}",
          "postalCode": "{{ settings.postCode | safe }}"
        },
        "openingHoursSpecification": [{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Thursday"
          ],
          "opens": "{{ settings.googleOpeningMonday | safe }}",
          "closes": "{{ settings.googleClosingMonday | safe }}"
        },{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Tuesday",
            "Wednesday"
          ],
          "opens": "{{ settings.googleOpeningTuesday | safe }}",
          "closes": "{{ settings.googleClosingTuesday | safe }}"
        },{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Friday",
          "opens": "{{ settings.googleOpeningFriday | safe }}",
          "closes": "{{ settings.googleClosingFriday | safe }}"
        },{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Saturday",
          "opens": "{{ settings.googleOpeningSaturday | safe }}",
          "closes": "{{ settings.googleClosingSaturday | safe }}"
        }]
      }
    }

  {% endif %}

  </script>

{% endmacro %}
