{% macro schema() %}

  <script type="application/ld+json">

    {% if seoSchemaPageType == 'FAQPage' %}

      {# FAQPage JSON ld #}

      {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [{% if faqsData.faqs %}{% for faqsDataItem in faqsData.faqs %}
          {
            "@type": "Question",
            "name": "{{ faqsDataItem.question | safe }}",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "{{ faqsDataItem.answer | safe }}"
            }
          }{{ "" if loop.last else "," }}{% endfor %}{% endif %}
        ],
        "url": "{{ env.site }}/frequently-asked-questions-faqs/"
      }

    {% elseif seoSchemaPageType == 'Article' %}

      {# Article JSON ld #}

      {
        "@context": "https://schema.org",
        "@type": "Article",
        "headline": "{{ seoTitle | safe }}",
        "description": "{{ description }}",
        "image": "{% if imageForSeo %}{{ env.site }}{{ imageForSeo }}{% else %}{{ env.site }}/android-chrome-512x512.png{% endif %}",
        "author": {
          "@type": "Person",
          "name": "Slot Expert"
        },
        "publisher": {
          "@type": "Organization",
          "name": "{{ env.site }}",
          "logo": {
            "@type": "ImageObject",
            "url": "{{ env.site }}/android-chrome-512x512.png"
          }
        },
        "datePublished": "{{ date | iso8601 | safe }}",
        "dateModified": "{{ date | iso8601 | safe }}",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{ env.site }}/{{ title | slugify }}/"
        }
      }

    {% else %}

      {# WebSite JSON ld #}

      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "{{ settings.siteName }}",
        "url": "{{ env.site }}",
        "description": "{{ description }}"
      }

    {% endif %}

  </script>

{% endmacro %}
